<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-agenda">
        <div class="b-main">
            <div class="b-agenda">
                <p class="a-typo is-primary">
                    Agenda
                </p>
                <input *ngFor="let item of agenda; let i = index" type="radio" [id]="'day_' + (i+1)" class="is-hidden" [name]="'agenda'" [checked]="item[1].active ? true : i === 0 ? true : false">

                <div class="b-calendar">
                    <div class="b-calendar_wrapper" style="min-height: 70px;">
                        <p *ngIf='agenda?.length === 0' class="a-typo is-text" style="width: 100%; text-align: center;">Trwa ładowanie agendy.</p>
                        <label *ngFor="let item of agenda; let i = index" [for]="'day_' + (i+1)" class="b-calendar_day">
                            <span>{{ item[1].dzien_int }}</span>
                            <p>{{ item[1].dzien }}</p>
                        </label>
                    </div>
                </div>
                <img src="common/images/agenda.png" alt="">
                <div *ngFor="let item of agenda; let i = index" [class]="'b-day_' + (i+1) + ' b-day_wrapper'">
                    <table class="b-day" *ngIf="item[1].agenda">
                        <tr *ngFor="let row of item[1].agenda; let j = index">
                            <td>
                                <p>{{ row.agenda_hour_start }}</p>
                                <p>{{ row.agenda_hour_stop }}</p>
                            </td>
                            <td>
                                <p class="a-typo is-secondary" style="line-height: 25px;">
                                    {{ row.agenda_title }}
                                </p>
                                <p class="a-typo is-text">
                                    {{ row.agenda_desc_full }}
                                </p>
                                <p class="a-typo is-small">
                                    <span class="localisation" *ngIf="row.agenda_place != ''"><span style="font-weight: 500">Lokalizacja:</span> {{ row.agenda_place }} <br></span>
                                    <span *ngIf="row.members.length > 0"><span style="font-weight: 500">Prowadzący:</span> <span *ngFor="let member of row.members; let last = last" [style]="'color: ' + userPostData.visitor_id == member.visitor_id ? 'red' : 'inherit'">{{ member.visitor_firstname }} {{member.visitor_lastname }}<span
                                            *ngIf="!last">, </span></span></span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</ion-content>