page-agenda {
  font-family: "GoogleSans",Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;

  td, th {
    background-color: inherit;
  }

  .b-calendar_day {
    width: 70px;
    height: 70px;
    min-width: 70px;
  }

  .b-calendar_day span {
    font-size: 24px;
    line-height: 18px;
    font-weight: 500;
  }

  .b-calendar_day p {
    font-size: 12px;
    line-height: 15px;
  }

  .localisation {
    display: block;
    padding-bottom: 8px;
  }
}

