page-score {
  td, th {
    padding: 0;
    padding: 5px 10px;
    background: #44c1de;
    margin: 5px;
    border: 1px solid #409fb5;
  }

  .b-goals .a-typo.is-secondary {
    line-height: 25px;
  }

  td, th {
    background-color: inherit;
    border: inherit;
  }
}