<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-goals">
        <div class="b-main">
            <div class="b-goals">
                <img src="common/images/goals.png" alt="">
                <div *ngFor="let item of scoreList;  let last = last;">
                    <div [innerHTML]="item.news_desc | safeHtml">
                        {{ item.news_desc }}
                    </div>
                </div>
                <div *ngIf='scoreList?.length === 0'>Zakładka nie zawiera w
                    tej chwili żadnych informacji.
                </div>
            </div>
        </div>
    </div>
</ion-content>


