$cl-blue: #00BBE6;
$cl-white: #fff;
$cl-grey3: #333;
$cl-yellow: yellow;
$cl-black: #000;
$cl-red: #c4135b;
$cl-green: #029147;
$cl-orange: #E57200;
$cl-grey4: #444;
$cl-purple: #8246AF;
$cl-grey2: #222;