$wrapperWidth: 1350px;
$brMain: 30px;
@import '_imports';
@import '_partials';
@import 'views/_awards';
@import 'views/_orderList';
@import 'views/_precart';
@import 'views/_login';
@import 'views/_home';
@import 'views/_agenda';
@import 'views/_polling';
@import 'views/_goals';
@import 'views/_news';
@import 'views/_who';
@import 'views/_filter';

html [class*='icon-'],
html [class^='icon-'] {
    display: inline-block;
    vertical-align: middle;
}
html {
    font-size: 100%;
}
b,
strong {
    font-weight: 700;
}
body {
    padding: 0;
    margin: 0;
    font-family: $font-primary;
    font-size: 14px;
    line-height: 18px;
    color: $cl-white;
    background: $cl-white;
    @media screen and ( min-height: 560px ) and (min-width: 320px) {
        font-size: 16px;
        line-height: 22px;
    }
    a {
        font-family: $font-primary, 'Arial';
        color: $cl-grey4;
        text-decoration: none;
    }
    input {
        font-family: $font-primary, 'Arial';
    }
}
.b-mainWrapper {
    max-width: 1024px;
    margin: 0 auto;
    overflow-x: hidden;
}
.is-hidden {
    display: none;
}
.is-precart {
    background: $cl-blue;
    position: relative;
    height: 100vh;
}
.is-rules {
    position: relative;
    height: 100vh;
    background: $cl-blue url('../images/mm.png') no-repeat right 90%;
}
.is-mm {
    position: relative;
    height: 100vh;
    background: $cl-orange url('../images/mm.png') no-repeat center top;
    background-position: 50% 15%;
    background-size: 100%;
    .b-headline {
        position: absolute;
        top: 70px;
        left: 55px;
        z-index: 0;
        max-width: 200px;
        font-size: 40px;
        font-size: 11vw;
        font-weight: 600;
        line-height: 1;
    }
}
.is-rank,
.is-awards {
    position: relative;
    height: 100vh;
    background: $cl-orange;
    .b-headline {
        margin-bottom: 20px;
        font-size: 34px;
        line-height: 38px;
        text-align: center;
        font-weight: 600;
        color: $cl-white;
        @include breakpoint(360px) {
            font-size: 40px;
            line-height: 44px;
            margin-bottom: 30px;
        }
    }
}

.b-content {
    padding: 60px 20px 20px;
    @include breakpoint(phone) {
        padding: 60px 30px 30px;
    }
    .is-video {
        margin: 15px -30px;
        video {
            width: 100%;
        }
    }
    ul {
        margin: 0 15px;
        list-style: none;
        li {
            &::before {
                display: inline-block;
                width: 1em;
                margin-left: -1em;
                font-weight: bold;
                color: #0F255B;
                content: '\2022';
            }
        }
    }
}
.b-menu {
    font-weight: bold;
}
.b-asideNav {
    display: none;
    .b-menu {
        padding-top: 30px;
        li {
            margin-bottom: 40px;
            a {
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
    .a-typo {
        &.is-logo {
            margin-bottom: 30px;
            font-weight: 600;
        }
    }
}
#menu {
    &:checked {
        & ~ .b-asideNav {
            position: fixed;
            overflow-y: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 40%;
            z-index: 3;
            display: block;
            padding: 20px;
            background: $cl-blue;
            box-shadow: rgba(0, 0, 0, .3) 0 0 20px;
            box-sizing: border-box;
        }
        & ~ .is-closeLayer {
            display: block;
        }
    }
}

.is-closeLayer {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    z-index: 10;
    display: none;
}
.b-header {
    label {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 4;
    }
    .is-backBtn {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 14px;
        color: #053C5D;
        font-weight: 600;
        z-index: 1;
        i {
            margin-right: 5px;
            color: $cl-white;
        }
    }
}
.b-mainNav {
    width: 70%;
    padding: 40px 0 0;
    .a-typo {
        &.is-logo {
            position: static;
            margin-bottom: 30px;
            font-size: 34px;
        }
    }
    .b-menu {
        li {
            margin-bottom: 40px;
        }
    }
}
.b-mmNav {
    position: absolute;
    bottom: 20px;
    left: 20px;
    ul {
        li {
            margin-bottom: 30px;
            list-style: none;
            a {
                font-size: 20px;
                font-weight: 600;
                color: $cl-white;
            }
        }
    }
}
.b-user {
    padding: 50px 10px 15px;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 1px solid rgba(238, 209, 209, .4);
    .b-user_pic {
        position: relative;
        display: inline-block;
        background: url('../images/profile.png') no-repeat center center;
    }
    .b-user_mask {
        display: block;
        width: 150px;
        height: 150px;
        margin: 0 auto;
        img {
            border-radius: 50%;
            max-width: 120px;
            margin: 12px auto;
        }
    }
    .is-count {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 2;
        width: 32px;
        height: 32px;
        font-size: 18px;
        line-height: 28px;
        color: $cl-black;
        text-align: center;
        background: $cl-white;
        border: 3px solid $cl-orange;
        border-radius: 50%;
        box-sizing: border-box;
    }
    .a-typo {
        &.is-primary {
            font-weight: 600;
        }
        &.is-text {
            font-weight: 500;
            &.is-dark {
                font-weight: 400;
            }
        }
    }
}
.b-ranking {
    .b-ranking_headline {
        display: flex;
        padding: 15px 20px;
        flex-direction: row;
        justify-content: space-between;
        .a-typo {
            &.is-secondary {
                font-weight: 600;
            }
        }
        .a-btn.is-primary {
            font-weight: 500;
        }
    }
    .b-ranking_filters {
        padding: 0 20px 10px;
        .is-label {
            color: $cl-orange;
            background: $cl-grey3;
            font-size: 11px;
            border-radius: 15px;
            padding: 1px 8px;
            display: inline-block;
            margin-bottom: 10px;
            &:hover {
                text-decoration: none;
            }
            span {
                color: $cl-white;
                font-size: 18px;
                margin-right: 4px;
                font-weight: bold;
            }
        }
    }
    .b-ranking_list {
        ul {
            .b-ranking_listItem {
                display: flex;
                padding: 10px;
                overflow: hidden;
                border-bottom: 1px solid rgba(255, 255, 255, .2);
                @include breakpoint(phone) {
                    padding: 10px 15px;
                }
                &:last-child {
                    border-bottom: 0;
                }
                &.is-active {
                    background: #053C5D;
                    .b-ranking_img {
                        .is-buble {
                            color: $cl-black;
                            background: $cl-white;
                            &.is-down {
                                color: $cl-red;
                                background: $cl-white;
                            }
                        }
                    }
                }
                flex-direction: row;
                justify-content: space-between;
            }
            .b-ranking_img {
                position: relative;
                width: 20%;
                height: 50px;
                max-width: 50px;
                .is-buble {
                    position: absolute;
                    top: 0;
                    display: block;
                    width: 28px;
                    height: 16px;
                    font-size: 12px;
                    line-height: 19px;
                    text-align: center;
                    background: $cl-white;
                    color: $cl-grey2;
                    border-radius: 10px;
                    &:first-of-type {
                        left: -5px;
                    }
                    &:last-of-type {
                        right: -5px;
                    }
                    &.is-up {
                        color: $cl-green;
                    }
                    &.is-down {
                        color: $cl-red;
                    }
                }
                img {
                    border-radius: 50%;
                }
            }
            .b-ranking_data {
                width: 80%;
                .a-typo.is-text {
                    &:first-child {
                        font-size: 16px;
                        color: $cl-white;
                    }
                    &:last-child {
                        display: flex;
                        font-size: 8px;
                        color: rgba($cl-white, .6);
                        text-transform: uppercase;
                        span {
                            margin: 0 10px 0 0;
                            font-size: 15px;
                        }
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}