<ion-content id="login">
    <div class="b-mainWrapper is-login">
        <div class="b-main">
            <div class="c-form">
                <h1 class="a-typo is-logo">Mylan<br>Navigator</h1>
                <form action="" id="js-login">
                    <div class="c-form_row">
                        <label for="" class="c-form_label">Podaj swój M-Numer</label>
                        <div class="c-form_input">
                            <input type="text" name="number" value="" [(ngModel)]="userData.visitor_number" [ngModelOptions]="{standalone: true}"
                                   required
                                   data-rule-required="true"
                                   data-msg-required="Wpisz swój numer">
                        </div>
                    </div>
                    <div class="c-form_row">
                        <label for="" class="c-form_label">Podaj hasło</label>
                        <div class="c-form_input">
                            <input type="password" name="pass" value="" [(ngModel)]="userData.visitor_pass" [ngModelOptions]="{standalone: true}"
                                   required
                                   data-rule-required="true"
                                   data-msg-required="Wpisz hasło">
                        </div>
                    </div>
                    <div class="c-form_row is-submit">
                        <button tappable (tap)="login()" class="c-form_btn">Zaloguj</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="a-logo">
            <img src="common/images/logo/logo.png" alt="Mylan">
        </div>
    </div>
</ion-content>
