html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

a,
abbr,
acronym,
address,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
label,
legend,
li,
object,
ol,
p,
pre,
q,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.pointer,
a[href],
button,
input[type='image'],
input[type='submit'],
label[for],
select {
	cursor: pointer;
}

button[disabled],
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
	font-family: Arial,sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

a b {
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
	border-width: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

.ie8 img {
	width: auto;
}

.clearfix {
	clear: both;
	overflow: hidden;
}

.clearfix2:after,
.clearfix2:before {
	content: "";
	display: table;
	height: 0;
}

.clearfix2:after {
	clear: both;
}

.clearfix2 {
	*zoom: 1;
}

@font-face {
	font-family: 'GoogleSans';
	src: url("../fonts/googlesans/GoogleSansRegular.eot");
	src: url("../fonts/googlesans/GoogleSansRegular.eot") format("embedded-opentype"),url("../fonts/googlesans/GoogleSansRegular.woff2") format("woff2"),url("../fonts/googlesans/GoogleSansRegular.woff") format("woff"),url("../fonts/googlesans/GoogleSansRegular.ttf") format("truetype"),url("../fonts/googlesans/GoogleSansRegular.svg#GoogleSansRegular") format("svg");
	font-weight: 400;
}

@font-face {
	font-family: 'GoogleSans';
	src: url("../fonts/googlesans/GoogleSansMedium.eot");
	src: url("../fonts/googlesans/GoogleSansMedium.eot") format("embedded-opentype"),url("../fonts/googlesans/GoogleSansMedium.woff2") format("woff2"),url("../fonts/googlesans/GoogleSansMedium.woff") format("woff"),url("../fonts/googlesans/GoogleSansMedium.ttf") format("truetype"),url("../fonts/googlesans/GoogleSansMedium.svg#GoogleSansMedium") format("svg");
	font-weight: 500;
}

@font-face {
	font-family: 'GoogleSans';
	src: url("../fonts/googlesans/GoogleSansBold.eot");
	src: url("../fonts/googlesans/GoogleSansBold.eot") format("embedded-opentype"),url("../fonts/googlesans/GoogleSansBold.woff2") format("woff2"),url("../fonts/googlesans/GoogleSansBold.woff") format("woff"),url("../fonts/googlesans/GoogleSansBold.ttf") format("truetype"),url("../fonts/googlesans/GoogleSansBold.svg#GoogleSansBold") format("svg");
	font-weight: 600;
}

.icon-arrow01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -161px -114px;
	width: 18px;
	height: 11px;
}

.icon-arrow02 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -38px -114px;
	width: 24px;
	height: 18px;
}

.icon-arrowback01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -30px -152px;
	width: 10px;
	height: 12px;
}

.icon-calc01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -116px -74px;
	width: 29px;
	height: 28px;
}

.icon-cart01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -155px -74px;
	width: 25px;
	height: 22px;
}

.icon-logo01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: 0px 0px;
	width: 106px;
	height: 104px;
}

.icon-logo02 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -116px 0px;
	width: 65px;
	height: 64px;
}

.icon-menu01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -72px -114px;
	width: 23px;
	height: 17px;
}

.icon-phone {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: 0px -152px;
	width: 20px;
	height: 20px;
}

.icon-presentation01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: 0px -114px;
	width: 28px;
	height: 28px;
}

.icon-remove01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -136px -114px;
	width: 15px;
	height: 15px;
}

.icon-tick01 {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -105px -114px;
	width: 21px;
	height: 15px;
}

.c-accordion {
	color: #fff;
}

.c-accordion_item {
	padding: 0 15px;
}

.c-accordion_itemLabel {
	position: relative;
	display: block;
	padding: 15px 0;
	font-size: 20px;
	font-weight: bold;
}

.c-accordion_itemInput {
	display: none;
}

.c-accordion_itemInput:checked+.c-accordion_itemLabel::after {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -30px -152px;
	width: 10px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 2;
	display: block;
	content: '';
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.c-accordion_itemInput:checked ~ .c-accordion_content {
	position: relative;
	display: block;
}

.c-accordion_itemInput:checked ~ .c-accordion_content::after {
	position: absolute;
	right: -15px;
	bottom: 0;
	left: -15px;
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	content: '';
}

.c-accordion_content {
	display: none;
}

.a-btn.is-primary {
	display: inline-block;
	height: 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
	background: #333;
	border-radius: 30px;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.a-btn i {
	margin-right: 5px;
}

.is-backBtn {
	background: none;
	border: 0;
}

.c-form {
	color: #fff;
	text-align: center;
}

.c-form .c-form_label {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.c-form .c-form_input {
	margin-bottom: 20px;
}

.c-form .c-form_input input {
	height: 52px;
	min-width: 280px;
	padding: 0 15px;
	background-color: #fff;
	color: #333;
	border-radius: 30px;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.c-form .c-form_btn {
	min-width: 140px;
	min-height: 45px;
	line-height: 45px;
	color: #fff;
	background: #333;
	border-radius: 30px;
	border: 1px solid #333;
}

.a-logo {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10;
	margin-top: 30px;
	margin: 0;
	text-align: right;
}

.b-menu {
	text-align: center;
}

.b-menu li {
	list-style: none;
	font-size: 20px;
	margin-bottom: 20px;
}

.b-menu li a {
	color: #fff;
}

.a-typo.is-text {
	font-size: 18px;
	line-height: 28px;
}

.a-typo.is-text.is-dark {
	font-size: 12px;
	color: #053C5D;
}

.a-typo.is-primary {
	font-size: 40px;
	line-height: 50px;
	color: #fff;
}

.a-typo.is-secondary {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
}

.a-typo.is-logo {
	font: bold 10vw/11vw "GoogleSans",Arial,sans-serif;
	text-align: center;
}

.c-accordion {
	color: #fff;
}

.c-accordion_item {
	padding: 0 15px;
}

.c-accordion_itemLabel {
	position: relative;
	display: block;
	padding: 15px 0;
	font-size: 20px;
	font-weight: bold;
}

.c-accordion_itemInput {
	display: none;
}

.c-accordion_itemInput:checked+.c-accordion_itemLabel::after {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -30px -152px;
	width: 10px;
	height: 12px;
	position: absolute;
	top: 50%;
	right: 0;
	z-index: 2;
	display: block;
	content: '';
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.c-accordion_itemInput:checked ~ .c-accordion_content {
	position: relative;
	display: block;
}

.c-accordion_itemInput:checked ~ .c-accordion_content::after {
	position: absolute;
	right: -15px;
	bottom: 0;
	left: -15px;
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	content: '';
}

.c-accordion_content {
	display: none;
}

.a-btn.is-primary {
	display: inline-block;
	height: 40px;
	padding: 0 20px;
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	color: #fff;
	background: #333;
	border-radius: 30px;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.a-btn i {
	margin-right: 5px;
}

.is-backBtn {
	background: none;
	border: 0;
}

.c-form {
	color: #fff;
	text-align: center;
}

.c-form .c-form_label {
	display: inline-block;
	margin-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
}

.c-form .c-form_input {
	margin-bottom: 20px;
}

.c-form .c-form_input input {
	height: 52px;
	min-width: 280px;
	padding: 0 15px;
	background-color: #fff;
	color: #333;
	border-radius: 30px;
	border: 1px solid #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.c-form .c-form_btn {
	min-width: 140px;
	min-height: 45px;
	line-height: 45px;
	color: #fff;
	background: #333;
	border-radius: 30px;
	border: 1px solid #333;
}

.a-logo {
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 10;
	margin-top: 30px;
	margin: 0;
	text-align: right;
}

.b-menu {
	text-align: center;
}

.b-menu li {
	list-style: none;
	font-size: 20px;
	margin-bottom: 20px;
}

.b-menu li a {
	color: #fff;
}

.a-typo.is-text {
	font-size: 18px;
	line-height: 28px;
}

.a-typo.is-text.is-dark {
	font-size: 12px;
	color: #053C5D;
}

.a-typo.is-primary {
	font-size: 40px;
	line-height: 50px;
	color: #fff;
}

.a-typo.is-secondary {
	font-size: 30px;
	line-height: 40px;
	color: #fff;
}

.a-typo.is-logo {
	font: bold 10vw/11vw "GoogleSans",Arial,sans-serif;
	text-align: center;
}

.b-awards {
	padding: 60px 0 30px;
}

.b-awards .b-headline {
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(238,209,209,0.4);
}

.b-awards .b-awards_grid {
	padding: 0 10px;
}

.b-awards .b-awards_gridRow {
	padding-bottom: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	border-bottom: 1px solid rgba(238,209,209,0.4);
	-webkit-columns: 2;
	columns: 2;
}

.b-awards .b-awards_gridRow:last-child {
	border-bottom: 0;
}

.b-awards .b-awards_gridItem {
	position: relative;
	margin-bottom: 23px;
	font-size: 16px;
	font-weight: 600;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
}

.b-awards .b-awards_gridItem:last-child {
	margin-bottom: 0;
}

.b-awards .b-awards_gridItem .is-info {
	position: static;
	margin-top: 10px;
	line-height: 20px;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.b-awards .b-awards_gridItem span {
	display: block;
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	color: #fff;
}

.b-awards .b-awards_gridItem span span {
	font-size: 12px;
	font-weight: normal;
}

.b-awards .b-awards_gridItem a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.b-awards .b-awards_gridItem a:hover {
	text-decoration: none;
}

.b-awards .b-awards_gridItem a img {
	display: block;
	width: 100%;
	margin: 0 auto;
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.b-awards .b-awards_footer {
	text-align: center;
}

.b-awards .b-awards_footer p {
	margin-top: 10px;
	font-size: 11px;
}

.b-awards .b-awards_footer .a-btn {
	position: relative;
	min-width: 230px;
	font-weight: 600;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.b-awards .b-awards_footer .a-btn span {
	position: absolute;
	top: 50%;
	left: -10px;
	width: 18px;
	height: 18px;
	font-size: 9px;
	line-height: 18px;
	color: #fff;
	text-align: center;
	background: #053C5D;
	border-radius: 50%;
	border: 2px solid #E57200;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.b-orderList {
	height: -webkit-calc(100vh - 210px);
	height: calc(100vh - 210px);
	overflow-y: auto;
}

.b-orderList .b-orderList_item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid rgba(238,209,209,0.4);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.b-orderList .b-orderList_item:last-child {
	margin-bottom: 15px;
}

.b-orderList .b-orderList_item .is-name {
	width: 75%;
}

.b-orderList .b-orderList_item .is-name a {
	font-size: 22px;
	font-weight: 600;
	line-height: 28px;
	color: #fff;
}

.b-orderList .b-orderList_item .is-value {
	width: 20%;
	padding: 0 10px;
	font-size: 18px;
	white-space: nowrap;
}

.b-orderList .b-orderList_item .is-remove {
	width: 5%;
	padding-left: 10px;
}

.is-orders .b-awards .b-headline {
	margin-bottom: 0;
	font-size: 30px;
}

.is-orders .b-awards .b-awards_footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 10px 0;
}

.b-precart {
	max-width: 520px;
	margin: 15px;
}

.b-precart img {
	border-radius: 9px 9px 0 0;
}

.b-precart .b-precart_inner {
	padding: 15px 0;
	font-size: 16px;
	line-height: 24px;
	text-align: left;
	background: #0067A0;
	border-radius: 0 0 9px 9px;
}

.b-precart .b-precart_data {
	padding: 0 15px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.b-precart .b-precart_desc {
	padding: 15px 15px 0;
}

.b-precart .b-precart_desc .is-price {
	display: inline-block;
	height: 52px;
	min-width: 140px;
	font-size: 20px;
	font-weight: 500;
	line-height: 52px;
	color: #0067A0;
	text-align: center;
	background: #fff;
	border-radius: 30px;
}

.b-precart .b-precart_desc .is-changeCount {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 52px;
	max-width: 140px;
	min-width: 140px;
	margin: 0 auto;
	font-weight: 500;
	line-height: 52px;
	border-radius: 30px;
	border: 1px solid rgba(255,255,255,0.2);
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.b-precart .b-precart_desc .is-changeCount .is-plus,
.b-precart .b-precart_desc .is-changeCount .is-minus {
	width: 42px;
	height: 42px;
	margin: 5px;
	font-size: 34px;
	line-height: 40px;
	color: #0067A0;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
}

.b-precart .b-precart_desc .is-changeCount .is-count {
	font-size: 20px;
}

.b-precart .b-precart_desc .b-precart_footer {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
}

.b-precart .b-precart_img {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.b-precart .b-precart_img img {
	-webkit-box-ordinal-group: 2;
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

.b-precart .b-precart_img .is-info {
	padding: 15px 15px 0;
	font-size: 18px;
	font-weight: 600;
	text-align: left;
	background: #0067A0;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.b-precart .b-precart_img .is-info span {
	display: block;
	font-weight: 400;
}

.is-precart {
	text-align: center;
}

.is-precart .a-btn {
	margin-top: 10px;
	margin-bottom: 15px;
	font-weight: 600;
	border: 1px solid rgba(255,255,255,0.2);
}

.is-login {
	position: relative;
	height: 100vh;
	background: #00BBE6 url("../images/login.png") no-repeat left center;
	background-position: 0 38%;
	background-size: 48%;
}

.is-login .b-main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	padding-top: 10vh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.is-login .a-typo.is-logo {
	position: relative;
	right: -20px;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 32px;
}

.is-home {
	position: relative;
	height: 100vh;
	background: #00BBE6 url("../images/home.png") no-repeat right 90%;
	background-position: 100% 95%;
	background-size: 100%;
}

.is-home .b-menu li a {
	font-size: 16px;
}

.is-home .b-user {
	position: absolute;
	top: 57px;
	right: 21px;
	padding: 0;
	margin: 0;
	border-bottom: 0;
}

.is-home .b-user .b-user_pic {
	background: url("../images/profile2.png") no-repeat center center;
}

.is-home .b-user .b-user_mask {
	width: 74px;
	height: 64px;
}

.is-home .b-user .b-user_mask img {
	max-width: 50px;
	margin: 4px auto;
}

.is-agenda {
	position: relative;
	height: 100vh;
	background: #F2A900;
}

.b-agenda {
	padding-top: 40px;
}

.b-agenda .a-typo.is-primary {
	margin-bottom: 20px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}

.b-calendar {
	margin-bottom: 10px;
	overflow-x: auto;
}

.b-calendar_wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin: 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.b-calendar_day {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 60px;
	height: 60px;
	min-width: 60px;
	margin: 0 5px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.b-calendar_day.is-active {
	color: #4A4A4A;
	background: #fff;
}

.b-calendar_day span {
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
}

.b-calendar_day p {
	font-size: 8px;
	line-height: 10px;
}

.b-day_wrapper {
	display: none;
	margin-bottom: 10px;
}

#day_1:checked ~ .b-calendar label[for="day_1"] {
	color: #4A4A4A;
	background: #fff;
}

#day_1:checked ~ .b-day_1 {
	display: block;
}

#day_2:checked ~ .b-calendar label[for="day_2"] {
	color: #4A4A4A;
	background: #fff;
}

#day_2:checked ~ .b-day_2 {
	display: block;
}

#day_3:checked ~ .b-calendar label[for="day_3"] {
	color: #4A4A4A;
	background: #fff;
}

#day_3:checked ~ .b-day_3 {
	display: block;
}

#day_4:checked ~ .b-calendar label[for="day_4"] {
	color: #4A4A4A;
	background: #fff;
}

#day_4:checked ~ .b-day_4 {
	display: block;
}

#day_5:checked ~ .b-calendar label[for="day_5"] {
	color: #4A4A4A;
	background: #fff;
}

#day_5:checked ~ .b-day_5 {
	display: block;
}

#day_6:checked ~ .b-calendar label[for="day_6"] {
	color: #4A4A4A;
	background: #fff;
}

#day_6:checked ~ .b-day_6 {
	display: block;
}

#day_7:checked ~ .b-calendar label[for="day_7"] {
	color: #4A4A4A;
	background: #fff;
}

#day_7:checked ~ .b-day_7 {
	display: block;
}

.b-day {
	margin: 0 10px;
}

.b-day td {
	padding: 10px 10px 30px;
}

.b-day td:first-child {
	font-weight: bold;
}

.b-day td:first-child p {
	font-size: 15px;
}

.b-day td:first-child p:last-child {
	font-size: 16px;
}

.b-day td .a-typo.is-secondary {
	margin-bottom: 15px;
	font-size: 23px;
	font-weight: bold;
}

.b-day td .a-typo.is-text {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 20px;
}

.b-day td .a-typo.is-small {
	font-size: 14px;
}

.is-polling {
	position: relative;
	height: 100vh;
	background: #C4135B;
}

.is-polling.is-success {
	padding: 0 20px;
}

.is-polling.is-success img {
	margin: 30px auto;
}

.is-polling.is-success .a-typo.is-secondary {
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: bold;
	line-height: 26px;
}

.b-polling {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.b-polling img {
	max-width: 90%;
	margin: 0 auto 20px;
}

.b-polling .c-form {
	padding: 0 20px;
	text-align: left;
}

.b-polling .c-form .c-form_row {
	margin-bottom: 40px;
}

.b-polling .c-form .c-form_row label {
	position: relative;
	display: block;
	padding: 8px 0 8px 45px;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: bold;
}

.b-polling .c-form .c-form_row input[type='radio'] {
	display: none;
}

.b-polling .c-form .c-form_row input[type='radio']:checked+label .is-customRadio::after {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 24px;
	height: 24px;
	background: #00898B;
	border-radius: 50%;
	content: '';
}

.b-polling .c-form .c-form_row .is-customRadio {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 50%;
}

.b-polling .c-form .a-typo.is-secondary {
	margin-bottom: 15px;
	font-size: 23px;
	font-weight: bold;
	line-height: 28px;
}

.b-polling .a-btn.is-primary {
	display: block;
	width: 160px;
	height: 40px;
	margin: 0 auto;
}

.is-goals {
	position: relative;
	height: 100vh;
	background: #8246AF;
}

.b-goals {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}

.b-goals img {
	max-width: 100%;
	margin: 20px auto 40px;
}

.b-goals .a-typo.is-secondary {
	padding: 0 20px;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
}

.b-goals .a-typo.is-secondary span {
	display: inline-block;
	font-size: 32px;
	color: #57C4C4;
	vertical-align: text-bottom;
}

.b-goals .b-goals_table {
	width: 100%;
	margin-bottom: 30px;
	font-size: 16px;
	color: #fff;
}

.b-goals .b-goals_table:last-of-type {
	margin-bottom: 0;
}

.b-goals .b-goals_table th {
	padding: 10px 20px;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	vertical-align: bottom;
}

.b-goals .b-goals_table td {
	padding: 10px 20px;
	text-align: left;
	border-bottom: 1px solid #57C4C4;
}

.b-goals .b-goals_table tr:last-child td {
	border-bottom: 0;
}

.b-goals .b-goals_table .is-summary td {
	font-weight: bold;
}

.b-goals .b-goals_table .is-summary td:first-child {
	color: #57C4C4;
}

.is-news {
	position: relative;
	height: 100vh;
	background: #84BD00;
}

.b-news {
	margin-right: 50px;
	overflow: visible !important;
}

.b-news button {
	width: 6px;
	height: 6px;
	margin: 0 3px;
	font-size: 0;
	color: #fff;
	background: #fff;
	border-radius: 50%;
	-webkit-transform: translateX(25px);
	-ms-transform: translateX(25px);
	transform: translateX(25px);
}

.b-news .b-news_item {
	opacity: .6;
}

.b-news .is-active .b-news_item {
	opacity: 1;
}

.b-news_item {
	padding: 0 0 0 20px;
	margin-bottom: 30px;
	text-align: left;
}

.b-news_item .b-news_time {
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 18px;
}

.b-news_item .a-typo.is-secondary {
	padding: 0;
	margin-bottom: 10px;
	font-size: 23px;
	line-height: 30px;
}

.b-news_item .a-typo.is-text {
	font-size: 15px;
	line-height: 22px;
}

.is-who {
	position: relative;
	height: 100vh;
	background: #0067A0;
}

.b-who {
	padding-top: 20px;
}

.b-who>img {
	margin-bottom: 15px;
}

.b-person {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 15px 0;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.b-person .b-person_desc {
	max-width: 66%;
}

.b-person .b-person_action {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.b-person .b-person_call a {
	display: inline-block;
	width: 44px;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background: #0F255B;
	border-radius: 50%;
}

.b-person .b-person_avatar {
	width: 44px;
	height: 44px;
	margin-left: 15px;
}

.b-person .b-person_avatar img {
	border-radius: 50%;
}

.b-person .a-typo.is-primary {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
}

.b-person .a-typo.is-secondary {
	font-size: 14px;
	line-height: 18px;
}

.b-person .a-typo.is-tertiary a {
	font-size: 13px;
	line-height: 18px;
	color: #fff;
	opacity: .6;
}

.is-filter {
	position: relative;
	height: 100vh;
	text-align: center;
	background: #fff;
}

.is-filter .a-btn.is-primary {
	min-width: 128px;
}

.b-filter {
	max-width: 520px;
	margin: 15px 20px;
	text-align: left;
	background: #053C5D;
	border-radius: 7px;
}

.b-filter .c-accordion_itemInput+.c-accordion_itemLabel::after {
	background-image: url(../images/sprite.png?1552227763138);
	background-position: -30px -152px;
	width: 10px;
	height: 12px;
	position: absolute;
	top: 40%;
	right: 0;
	z-index: 100;
	display: block;
	content: '';
	-webkit-transform: scale(-1);
	-ms-transform: scale(-1);
	transform: scale(-1);
}

.b-filter .c-accordion_itemInput:checked+.c-accordion_itemLabel::after {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.b-filter .c-accordion_item {
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.b-filter .c-accordion_itemLabel {
	font-size: 14px;
	font-weight: 600;
}

.b-filter .c-accordion_itemInput:checked ~ .c-accordion_content::after {
	display: none;
}

.b-filter .c-accordion_itemInput:checked ~ .c-accordion_content::before {
	position: absolute;
	top: 0;
	right: -15px;
	left: -15px;
	display: block;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	content: '';
}

.b-filter .c-accordion_contentWrapper {
	max-height: 165px;
	padding-top: 10px;
	overflow-y: auto;
}

.b-filter .c-accordion_contentWrapper label {
	display: block;
	padding: 5px 0;
	font-size: 15px;
	font-weight: 400;
}

.b-filter .c-accordion_contentWrapper label input {
	display: none;
}

.b-filter .c-accordion_contentWrapper label input:checked ~ span {
	color: #E57200;
}

.b-filter .c-accordion_content.is-horizontal {
	margin: 0 -15px;
	overflow-x: auto;
}

.b-filter .c-accordion_content.is-horizontal .c-accordion_contentWrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding: 15px 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.b-filter .c-accordion_content.is-horizontal .c-accordion_contentWrapper label {
	float: none;
	min-width: 20%;
	padding: 0;
	margin: 0;
	text-align: center;
}

.b-filter .c-accordion_content.is-horizontal .c-accordion_contentWrapper label input:checked ~ span {
	border-color: #E57200;
}

.b-filter .c-accordion_content.is-horizontal .c-accordion_contentWrapper label span {
	display: block;
	width: 40px;
	line-height: 40px;
	height: 40px;
	margin: 0 auto;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.3);
}

.b-filter .c-accordion_content.is-horizontal .c-accordion_contentWrapper label:last-child {
	margin-right: 10px;
}

.b-filter .c-accordion_content.is-sort .c-accordion_contentWrapper {
	max-height: 100px;
	overflow-y: auto;
}

html [class*='icon-'],
html [class^='icon-'] {
	display: inline-block;
	vertical-align: middle;
}

html {
	font-size: 100%;
}

b,
strong {
	font-weight: 700;
}

body {
	padding: 0;
	margin: 0;
	font-family: "GoogleSans",Arial,sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background: #fff;
}

body a {
	font-family: "GoogleSans",Arial,sans-serif,"Arial";
	color: #444;
	text-decoration: none;
}

body input {
	font-family: "GoogleSans",Arial,sans-serif,"Arial";
}

.b-mainWrapper {
	max-width: 1024px;
	margin: 0 auto;
	overflow-x: hidden;
}

.is-hidden {
	display: none;
}

.is-precart {
	background: #00BBE6;
	position: relative;
	height: 100vh;
}

.is-rules {
	position: relative;
	height: 100vh;
	background: #00BBE6 url("../images/mm.png") no-repeat right 90%;
}

.is-mm {
	position: relative;
	height: 100vh;
	background: #E57200 url("../images/mm.png") no-repeat center top;
	background-position: 50% 15%;
	background-size: 100%;
}

.is-mm .b-headline {
	position: absolute;
	top: 70px;
	left: 55px;
	z-index: 0;
	max-width: 200px;
	font-size: 40px;
	font-size: 11vw;
	font-weight: 600;
	line-height: 1;
}

.is-rank,
.is-awards {
	position: relative;
	height: 100vh;
	background: #E57200;
}

.is-rank .b-headline,
.is-awards .b-headline {
	margin-bottom: 20px;
	font-size: 34px;
	line-height: 38px;
	text-align: center;
	font-weight: 600;
	color: #fff;
}

.b-content {
	padding: 60px 20px 20px;
}

.b-content .is-video {
	margin: 15px -30px;
}

.b-content .is-video video {
	width: 100%;
}

.b-content ul {
	margin: 0 15px;
	list-style: none;
}

.b-content ul li::before {
	display: inline-block;
	width: 1em;
	margin-left: -1em;
	font-weight: bold;
	color: #0F255B;
	content: '\2022';
}

.b-menu {
	font-weight: bold;
}

.b-asideNav {
	display: none;
}

.b-asideNav .b-menu {
	padding-top: 30px;
}

.b-asideNav .b-menu li {
	margin-bottom: 40px;
}

.b-asideNav .b-menu li a {
	font-weight: 500;
	font-size: 16px;
}

.b-asideNav .a-typo.is-logo {
	margin-bottom: 30px;
	font-weight: 600;
}

#menu:checked ~ .b-asideNav {
	position: fixed;
	overflow-y: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 40%;
	z-index: 3;
	display: block;
	padding: 20px;
	background: #00BBE6;
	-webkit-box-shadow: rgba(0,0,0,0.3) 0 0 20px;
	box-shadow: rgba(0,0,0,0.3) 0 0 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#menu:checked ~ .is-closeLayer {
	display: block;
}

.is-closeLayer {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 40%;
	z-index: 10;
	display: none;
}

.b-header label {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 4;
}

.b-header .is-backBtn {
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 14px;
	color: #053C5D;
	font-weight: 600;
	z-index: 1;
}

.b-header .is-backBtn i {
	margin-right: 5px;
	color: #fff;
}

.b-mainNav {
	width: 70%;
	padding: 40px 0 0;
}

.b-mainNav .a-typo.is-logo {
	position: static;
	margin-bottom: 30px;
	font-size: 34px;
}

.b-mainNav .b-menu li {
	margin-bottom: 40px;
}

.b-mmNav {
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.b-mmNav ul li {
	margin-bottom: 30px;
	list-style: none;
}

.b-mmNav ul li a {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
}

.b-user {
	padding: 50px 10px 15px;
	margin-bottom: 15px;
	text-align: center;
	border-bottom: 1px solid rgba(238,209,209,0.4);
}

.b-user .b-user_pic {
	position: relative;
	display: inline-block;
	background: url("../images/profile.png") no-repeat center center;
}

.b-user .b-user_mask {
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto;
}

.b-user .b-user_mask img {
	border-radius: 50%;
	max-width: 120px;
	margin: 12px auto;
}

.b-user .is-count {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 2;
	width: 32px;
	height: 32px;
	font-size: 18px;
	line-height: 28px;
	color: #000;
	text-align: center;
	background: #fff;
	border: 3px solid #E57200;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.b-user .a-typo.is-primary {
	font-weight: 600;
}

.b-user .a-typo.is-text {
	font-weight: 500;
}

.b-user .a-typo.is-text.is-dark {
	font-weight: 400;
}

.b-ranking .b-ranking_headline {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 15px 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.b-ranking .b-ranking_headline .a-typo.is-secondary {
	font-weight: 600;
}

.b-ranking .b-ranking_headline .a-btn.is-primary {
	font-weight: 500;
}

.b-ranking .b-ranking_filters {
	padding: 0 20px 10px;
}

.b-ranking .b-ranking_filters .is-label {
	color: #E57200;
	background: #333;
	font-size: 11px;
	border-radius: 15px;
	padding: 1px 8px;
	display: inline-block;
	margin-bottom: 10px;
}

.b-ranking .b-ranking_filters .is-label:hover {
	text-decoration: none;
}

.b-ranking .b-ranking_filters .is-label span {
	color: #fff;
	font-size: 18px;
	margin-right: 4px;
	font-weight: bold;
}

.b-ranking .b-ranking_list ul .b-ranking_listItem {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 10px;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,0.2);
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.b-ranking .b-ranking_list ul .b-ranking_listItem:last-child {
	border-bottom: 0;
}

.b-ranking .b-ranking_list ul .b-ranking_listItem.is-active {
	background: #053C5D;
}

.b-ranking .b-ranking_list ul .b-ranking_listItem.is-active .b-ranking_img .is-buble {
	color: #000;
	background: #fff;
}

.b-ranking .b-ranking_list ul .b-ranking_listItem.is-active .b-ranking_img .is-buble.is-down {
	color: #c4135b;
	background: #fff;
}

.b-ranking .b-ranking_list ul .b-ranking_img {
	position: relative;
	width: 20%;
	height: 50px;
	max-width: 50px;
}

.b-ranking .b-ranking_list ul .b-ranking_img .is-buble {
	position: absolute;
	top: 0;
	display: block;
	width: 28px;
	height: 16px;
	font-size: 12px;
	line-height: 19px;
	text-align: center;
	background: #fff;
	color: #222;
	border-radius: 10px;
}

.b-ranking .b-ranking_list ul .b-ranking_img .is-buble:first-of-type {
	left: -5px;
}

.b-ranking .b-ranking_list ul .b-ranking_img .is-buble:last-of-type {
	right: -5px;
}

.b-ranking .b-ranking_list ul .b-ranking_img .is-buble.is-up {
	color: #029147;
}

.b-ranking .b-ranking_list ul .b-ranking_img .is-buble.is-down {
	color: #c4135b;
}

.b-ranking .b-ranking_list ul .b-ranking_img img {
	border-radius: 50%;
}

.b-ranking .b-ranking_list ul .b-ranking_data {
	width: 80%;
}

.b-ranking .b-ranking_list ul .b-ranking_data .a-typo.is-text:first-child {
	font-size: 16px;
	color: #fff;
}

.b-ranking .b-ranking_list ul .b-ranking_data .a-typo.is-text:last-child {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 8px;
	color: rgba(255,255,255,0.6);
	text-transform: uppercase;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.b-ranking .b-ranking_list ul .b-ranking_data .a-typo.is-text:last-child span {
	margin: 0 10px 0 0;
	font-size: 15px;
}

/*# sourceMappingURL=style.css.map */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

.icon-arrow01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-arrow02 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-arrowback01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-calc01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-cart01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-logo01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-logo02 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-menu01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-phone {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-presentation01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-remove01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.icon-tick01 {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.c-accordion_itemInput:checked+.c-accordion_itemLabel::after {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.c-accordion_itemInput:checked+.c-accordion_itemLabel::after {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

.b-filter .c-accordion_itemInput+.c-accordion_itemLabel::after {
	background-image: url(../images/sprite-2x.png?1552227763138);
	background-size: 181px 172px;
}

}

@media screen and (min-width: 360px) {

.c-form .c-form_label {
	font-size: 20px;
}

.c-form .c-form_label {
	font-size: 20px;
}

.is-login .a-typo.is-logo {
	margin-bottom: 30px;
	font-size: 42px;
	line-height: 44px;
}

.b-agenda .a-typo.is-primary {
	font-size: 50px;
}

.is-rank .b-headline,
.is-awards .b-headline {
	font-size: 40px;
	line-height: 44px;
	margin-bottom: 30px;
}

}

@media screen and (min-width: 480px) {

.b-content {
	padding: 60px 30px 30px;
}

.b-ranking .b-ranking_list ul .b-ranking_listItem {
	padding: 10px 15px;
}

}

@media screen and (min-width: 540px) {

.b-precart {
	margin: 15px auto;
}

}

@media screen and (min-height: 560px) and (min-width: 320px) {

body {
	font-size: 16px;
	line-height: 22px;
}

}

@media screen and (max-height: 480px) {

.is-login .a-typo.is-logo {
	right: -30px;
	margin-bottom: 15px;
}

.is-home {
	background-size: 85%;
}

}

@media print {

* {
	text-shadow: none !important;
	-webkit-filter: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

a[href]:after {
	content: " (" attr(href) ")";
}

a[href^="#"]:after,
a[href^="javascript:"]:after {
	content: "";
}

img,
tr {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

}

