page-noclegi {
  margin-top: 40px;
  font-family: "Helvetica Neue", HelveticaNeueLTProCn, Arial, sans-serif, Arial;
}

.select-icon-inner {
  //background-image: url(/common/images/sprite.png?1512161553226);
  //background-position: 0px -84px;
  //width: 13px;
  //height: 9px;
  margin-top: 9px !important;
  //border: 0;
  //color: transparent;
}