<ion-content no-bounce scrollbar-y="false">
<div class="b-mainWrapper is-category">
    <div class="b-main c-accordion">
        <div class="c-accordion_item js-accordion_item is-active" *ngIf="invites.accepted_active > 0">
            <h2 class="c-accordion_title js-accordion_title">Gratulacje!</h2>
            <div *ngFor="let item of invites.accepted;" class="c-accordion_item is-active">
                <div class="c-form_row c-accordion_content">
                    <p class="c-form_headline" style="color: #48b14c; line-height: 24px; margin-bottom: 10px;">
                       Zostałeś/aś poprawnie sparowany/a.</p>
                    <span>{{ item.visitor_firstname_inviter }} {{ item.visitor_lastname_inviter }} - {{ item.visitor_firstname }} {{ item.visitor_lastname }}</span>
                </div>
            </div>
        </div>
        <div class="c-accordion_item js-accordion_item is-active" *ngIf="invites.recived_active > 0">
            <h2 class="c-accordion_title js-accordion_title">Zaproszenia oczekujące na akceptację</h2>
            <article *ngFor="let item of invites.recived;" class="c-accordion_content">
                <div class="c-accordion_bio" style="margin-bottom: 10px; padding-left: 0;">
                    <p class="c-accordion_name">Od: {{ item.visitor_firstname_inviter }} {{ item.visitor_lastname_inviter }}</p>
                    <p class="c-accordion_description">Otrzymane dnia: {{ item.invite_date }}</p><br />
                    <div class="c-form_row">
                        <div>
                            <button (tap)="accept(item.visitor_invite_id)" class="c-form_btn"
                                    style="margin-right: 25px; font-size: 14px; color: #fff; margin-top: 5px; height: 30px; line-height: 20px; min-width: 100px; border-radius: 16px; background-color: limegreen;">
                                Zaakceptuj
                            </button>

                            <button (tap)="decline(item.visitor_invite_id)" class="c-form_btn"
                                    style="font-size: 14px; color: #fff; margin-top: 5px; height: 30px; line-height: 20px; min-width: 100px; border-radius: 16px; background-color: red;">
                                Odrzuć
                            </button>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="c-accordion_item js-accordion_item is-active" *ngIf="invites.sended_active > 0">
            <h2 class="c-accordion_title js-accordion_title">Wysłane zaproszenia</h2>
            <article *ngFor="let item of invites.sended;" class="c-accordion_content">
                <div class="c-accordion_bio" style="margin-bottom: 10px; padding-left: 0;">
                    <p class="c-accordion_name">Do: {{ item.visitor_firstname }} {{ item.visitor_lastname }}</p>
                    <p class="c-accordion_description">Wysłane dnia: {{ item.invite_date }}</p>
                    <br />
                    <p class="c-accordion_email" *ngIf="item.invite_declined == 1">
                        <span style="color: orangered; font-size: 1.0rem">Twoje zaproszenie zostało odrzucone.</span>
                    </p>
                    <p class="c-accordion_email" *ngIf="item.invite_declined == 0">
                        <span style="color: darkslategray; font-size: 1.0rem">Zaproszenie oczekuje na akceptację.</span>
                    </p>
                </div>
            </article>
        </div>
        <div class="c-accordion_item js-accordion_item is-active" *ngIf="invites.recived_declined_active > 0">
            <h2 class="c-accordion_title js-accordion_title">Otrzymane zaproszenia</h2>
            <article *ngFor="let item of invites.recived_declined;" class="c-accordion_content">
                <div class="c-accordion_bio" style="margin-bottom: 10px; padding-left: 0;">
                    <p class="c-accordion_name">Od: {{ item.visitor_firstname_inviter }} {{ item.visitor_lastname_inviter }}</p>
                    <p class="c-accordion_description">Otrzymane dnia: {{ item.invite_date }}</p>
                    <br />
                    <p class="c-accordion_email" *ngIf="item.invite_declined == 1">
                        <span style="color: orangered; font-size: 1.0rem">Twoje zaproszenie zostało odrzucone.</span>
                    </p>
                    <p class="c-accordion_email" *ngIf="item.invite_declined == 0">
                        <span style="color: darkslategray; font-size: 1.0rem">Zaproszenie oczekuje na akceptację.</span>
                    </p>
                </div>
            </article>
        </div>

        <div class="c-form" *ngIf="invites.accepted_active == 0">


            <div class="c-accordion_item js-accordion_item is-active" *ngIf="invites.new_blocked == 0">
                <h2 class="c-accordion_title js-accordion_title">Wyślij zaproszenie</h2>
                <form action="" id="js-login">
                    <div class="c-form_row">
                        <div class="c-form_input">

                                <ion-select style="max-width: 95%; margin: 0 auto; font-size: 16px; padding: 0 20px; width: 100%; border: 1px solid #D7D7D7; border-radius: 22px; height: 45px; line-height: 45px;" [(ngModel)]="invitePostData.user_id"
                                            [ngModelOptions]="{standalone: true}">
                                    <ion-option value="" style="font-size: 16px">Wybierz osobę</ion-option>
                                    <ion-option style="font-size: 16px" *ngFor="let item of invitorsSelect.users;"
                                                value="{{ item.visitor_id }}">{{ item.visitor_firstname }} {{ item.visitor_lastname }}
                                    </ion-option>
                                </ion-select>

                        </div>
                    </div>
                    <div class="c-form_row is-submit">
                        <button tappable (tap)="sendRequest()" class="c-form_btn">Wyślij</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</ion-content>