<div class="b-main" style="font-size: 16px; padding-top: 50px;">
    <div class="c-form_row">
        <p class="c-form_headline" style="margin-top: 20px;">Możesz rozpocząć test wiedzy z zakresu naszego CSR’u. Możesz go
            rozwiązać TYLKO JEDEN RAZ. Test składa się z x pytań. Od momentu kliknięcia przycisku
            „start” mierzony jest sumaryczny czas rozwiązania testu – w sytuacji gdy więcej niż jedna
            osoba będzie miała taką samą ilość poprawnych odpowiedzi jako kolejne kryterium brany
            będzie pod uwagę czas.<br />
            Niektóre pytania zawierają treść video – aby ją obejrzeć należy kliknąć przycisk "play".
            W każdym pytaniu tylko jedna odpowiedź jest poprawna.</p>
    </div>

</div>
