<div class="b-main" style="font-size: 16px; padding-top: 50px;">
    <div *ngIf="rankingUser">
        <p>Dziękujemy za wypełnienie testu</p>
        Liczba Twoich poprawnych odpowiedzi: {{rankingUser.odpowiedzi}}<br />
        Twój czas: {{rankingUser.czas}}<br />
        Aktualnie zajmujesz {{rankingUser.miejsce}} miejsce
    </div>
    <div *ngIf="!rankingUser">
        Prosimy o wypełnienie quizu
    </div>
</div>
