<div class="b-mainWrapper is-category">

    <div class="b-main" style="font-size: 16px; padding-top: 50px;">
        <div>
            <div class="c-form">
                <div class="c-form_row" *ngIf="!ankiety">
                    <p class="c-form_headline" style="margin-top: 20px;">Etap został zakończony. Sprawdź swój ranking w zakładce Ranking.</p>
                </div>
            </div>
            <div class="c-form" *ngIf="ankiety && !start" style="text-align: center">
                <div [innerHTML]="txt | safeHtml">
                    {{ txt }}
                </div>
                <div [innerHTML]="txt3 | safeHtml">
                    {{ txt2 }}
                </div>
                <button (click)="startVote()" class="c-form_btn" style="margin-top: 50px;">PLAY</button>
            </div>
            <div *ngIf="ankiety && start">
                <div class="c-form" *ngFor="let item of ankiety; let i = index">
                    <div class="c-form_row">
                        <p class="c-form_headline" style="margin-top: 20px; font-weight: bold">{{ item.question[0].question_title }}</p>
                        <img *ngIf="item.question[0].image" src="http://api-ios.test001.pl/data/ankieta/{{ item.polling_id }}.jpg" class="" />
                        <video *ngIf="item.question[0].video" style="width: 100%; height: 100%;" class="video-player" controls>
                            <source src="http://api-ios.test001.pl/data/video/{{ item.polling_id }}.mp4" type="video/mp4" />
                        </video>
                    </div>
                    <div class="c-form_row" *ngFor="let item_answer of item.answer">
                        <label class="c-form_radio">
                            <input type="radio" name="radio1" [(ngModel)]="votes[i]"
                                   [ngModelOptions]="{standalone: true}" [value]="item_answer.polling_answer_id">
                            <span class="{{ item_answer.answer_letter }}"><i>{{ item_answer.answer_letter }}</i>{{ item_answer.answer_title }}</span>
                        </label>
                    </div>
                </div>
                <div class="c-form c-form_row is-submit" style="text-align: center;">
                    <button (click)="vote()" class="c-form_btn" style="margin-top: 10px; margin-bottom: 100px;">Wyślij</button>
                </div>
            </div>
        </div>
    </div>
</div>