<ion-content no-bounce scrollbar-y="false">
    <div class="b-mainWrapper is-category">
        <div class="b-main">
            <div class="c-form c-accordion">
                <!-- First Level -->
                <div no-lines no-padding [ngClass]="{'is-active c-accordion_item': tab[0].active, 'c-accordion_item': !tab[0].active}">
                    <h2 class="c-accordion_title js-accordion_title" id="js-accordion_title2_1" (click)="toggleSection(0)">
                        Zasady
                        <i class="icon-arrow02"></i>
                    </h2>

                    <article class="c-accordion_content">
                        <div [innerHTML]="txt | safeHtml">
                            {{ txt }}<br /><br />
                        </div>
                        <div [innerHTML]="txt2| safeHtml">
                            {{ txt2 }}
                        </div>
                    </article>
                </div>

                <div no-lines no-padding [ngClass]="{'is-active c-accordion_item': tab[1].active, 'c-accordion_item': !tab[1].active}">
                    <h2 class="c-accordion_title js-accordion_title" id="js-accordion_title2_2"
                        tappable (tap)="toggleSection(1)">Odpowiadaj
                        <i class="icon-arrow02"></i>
                    </h2>
                    <article class="c-accordion_content" *ngIf="!ankiety">
                        <div class="c-form_row">
                            <p class="c-form_headline">Odpowiedziałeś już na wszystkie pytania, które przygotowaliśmy. Zobacz jak poradziłeś sobie na tle innych w zakładce Ranking.</p>
                        </div>
                    </article>
                    <article class="c-accordion_content" *ngIf="ankiety && !start" style="background: none">
                        <div class="c-form" style="text-align: center">
                            <button (click)="startVote()" class="c-form_btn">START</button>
                        </div>
                    </article>
                    <article class="c-accordion_content" *ngIf="ankiety && start">
                        <div class="c-form" *ngFor="let item of ankiety; let i = index" style="margin-bottom: 30px;">
                            <div class="c-form_row">
                                <p class="c-form_headline" style="margin-bottom: 5px; font-weight: bold">{{ item.question[0].question_title }}</p>
                                <img *ngIf="item.question[0].image" src="http://api-ios.test001.pl/data/ankieta/{{ item.polling_id }}.jpg" class="" />
                                <video *ngIf="item.question[0].video" style="width: 100%; height: 100%;" class="video-player" controls>
                                    <source src="http://api-ios.test001.pl/data/video/{{ item.polling_id }}.mp4" type="video/mp4" />
                                </video>
                            </div>
                            <div class="c-form_row" *ngFor="let item_answer of item.answer">
                                <label class="c-form_radio">
                                    <input type="radio" [name]="'radio' + i" [(ngModel)]="votes[i]"
                                           [ngModelOptions]="{standalone: true}" [value]="item_answer.polling_answer_id">
                                    <span class="{{ item_answer.answer_letter }}"><i>{{ item_answer.answer_letter }}</i>
                                        <div style="height: 55px; display: inline-block; width: 80%" class="iphoneAnswerParent">
                                            <div style="display: table-cell; height: 55px; vertical-align: middle;" class="iphoneAnswer">
                                                {{ item_answer.answer_title }}
                                            </div>
                                        </div>
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="c-form c-form_row is-submit" style="text-align: center;">
                            <button (click)="vote()" class="c-form_btn" style="margin-top: 10px; margin-bottom: 100px;">Wyślij</button>
                        </div>
                    </article>
                </div>

                <div no-lines no-padding [ngClass]="{'is-active c-accordion_item': tab[2].active, 'c-accordion_item': !tab[2].active}">
                    <h2 class="c-accordion_title js-accordion_title" id="js-accordion_title2_3"
                        tappable (tap)="toggleSection(2)">Ranking
                        <i class="icon-arrow02"></i>
                    </h2>
                    <article class="c-accordion_content">
                        <h3 *ngIf="rankingUser" class="c-form_headline" style="margin-bottom: 15px; white-space: normal; letter-spacing: 0px; text-transform: none; font-size: 1rem; font-weight: 700; font-family: Arial">Twoje miejsce: {{rankingUser.miejsce}}<br />Poprawne odpowiedzi: {{rankingUser.odpowiedzi}}<br />Czas: {{rankingUser.czas}}</h3>
                        <table *ngIf="ranking" >
                            <tr *ngFor="let rank of ranking; let i2 = index" style="border-bottom: 1px solid #d4d4d4;">
                                <td style="background: #f1f1f1;padding: 2px 5px;">{{i2+1}}</td>
                                <td style="background: #f1f1f1;padding: 2px 5px;">{{rank.user}}</td>
                                <td style="background: #f1f1f1;padding: 2px 5px;">{{rank.correct}}/{{rank.all}}</td>
                                <td style="background: #f1f1f1;padding: 2px 5px;">{{rank.time_format}}</td>
                            </tr>
                        </table>
                    </article>
                </div>
            </div>
        </div>
    </div>
</ion-content>