page-test {
    margin-top: 40px;
    font-family: "Helvetica Neue", HelveticaNeueLTProCn, Arial, sans-serif, Arial;
  }

.c-form .c-form_radio span {
  border-radius: 5px!important;
  color: #fff;
  background: #00BBE6;
  padding-left: 0px!important;
  font-size: 14px!important;
  line-height: 15px!important;
  height: 55px!important;
}

.c-form .c-form_radio span.a {
  background: #00b4e5;
}

.c-form .c-form_radio span.b {
  background: #c3135b;
}

.c-form .c-form_radio span.c {
  background: #e67100;
}

.c-form .c-form_radio span.d {
  background: #256890;
}

.c-form .c-form_radio span.e {
  background: green;
}

.c-form .c-form_radio i {
  display: block;
  float: left;
  background: #cecece;
  padding: 0 5px;
  color: #000;
  margin-right: 10px;
  height: 53px!important;
  width: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 23px;
  font-style: normal;
  line-height: 55px;
}

.c-form .c-form_row  {
  margin-bottom: 7px!important;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 374px) {
  .iphoneAnswer { line-height: normal!important; font-size: 0.8rem}
  .iphoneAnswerParent { }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 568px) {
  .iphoneAnswer { line-height: normal!important; font-size: 0.9rem}
}