html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

a,
abbr,
acronym,
address,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
label,
legend,
li,
object,
ol,
p,
pre,
q,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
	outline: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background: transparent;
}

a:active,
a:hover {
	outline: 0;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

hr {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

.pointer,
a[href],
button,
input[type='image'],
input[type='submit'],
label[for],
select {
	cursor: pointer;
}

button[disabled],
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
	font-family: Arial,sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

a b {
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
	border-width: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

.ie8 img {
	width: auto;
}

.clearfix {
	clear: both;
	overflow: hidden;
}

.clearfix2:after,
.clearfix2:before {
	content: "";
	display: table;
	height: 0;
}

.clearfix2:after {
	clear: both;
}

.clearfix2 {
	*zoom: 1;
}

.icon-arrow01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px -48px;
	width: 13px;
	height: 9px;
}

.icon-arrow02 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: 0px -84px;
	width: 13px;
	height: 9px;
}

.icon-clock01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px 0px;
	width: 14px;
	height: 14px;
}

.icon-clock02 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px -24px;
	width: 14px;
	height: 14px;
}

.icon-close01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: 0px 0px;
	width: 39px;
	height: 40px;
}

.icon-edit01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: 0px -50px;
	width: 23px;
	height: 24px;
}

.icon-more01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -49px 0px;
	width: 39px;
	height: 40px;
}

.icon-phone01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -33px -50px;
	width: 22px;
	height: 23px;
}

.icon-tick01 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -65px -50px;
	width: 16px;
	height: 14px;
}

.c-accordion .c-accordion_title {
	position: relative;
	padding: 15px 0;
	color: #00BBE6;
	border-bottom: 1px solid #00BBE6;
}

.c-accordion .c-accordion_title::after {
	position: absolute;
	right: -20px;
	bottom: -1px;
	display: block;
	width: 20px;
	height: 1px;
	background: #00BBE6;
	content: '';
}

.c-accordion .c-accordion_title i {
	position: absolute;
	top: 20px;
	right: 10px;
}

.c-accordion .is-active .c-accordion_title {
	color: #333;
	border-bottom: 1px solid #fff;
}

.c-accordion .is-active .c-accordion_title .icon-arrow02 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px -48px;
	width: 13px;
	height: 9px;
}

.c-accordion .is-active .c-accordion_content {
	display: block;
}

.c-accordion .c-accordion_content {
	position: relative;
	display: none;
	padding: 15px;
	margin-bottom: 10px;
	font-size: .9rem;
	line-height: 1.2rem;
	background: #f1f1f1;
	border-radius: 6px;
}

.c-accordion .c-accordion_content.is-active {
	background: #00BBE6;
	overflow: hidden;
}

.c-accordion .c-accordion_content.is-active .c-accordion_add {
	right: -1px;
	bottom: -1px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_add i {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: 0px 0px;
	width: 39px;
	height: 40px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_lead,
.c-accordion .c-accordion_content.is-active .c-accordion_place,
.c-accordion .c-accordion_content.is-active .c-accordion_data,
.c-accordion .c-accordion_content.is-active .c-accordion_text {
	color: #fff;
}

.c-accordion .c-accordion_content.is-active .c-accordion_lead p,
.c-accordion .c-accordion_content.is-active .c-accordion_place p,
.c-accordion .c-accordion_content.is-active .c-accordion_data p,
.c-accordion .c-accordion_content.is-active .c-accordion_text p {
	color: #fff;
}

.c-accordion .c-accordion_content.is-active .c-accordion_data i {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px -24px;
	width: 14px;
	height: 14px;
}

.c-accordion .c-accordion_content .c-accordion_add {
	position: absolute;
	right: 0;
	bottom: 0;
}

.c-accordion .c-accordion_content .c-accordion_header {
	margin-bottom: 10px;
	overflow: hidden;
}

.c-accordion .c-accordion_content .c-accordion_data {
	float: left;
	color: #333;
}

.c-accordion .c-accordion_content .c-accordion_lead {
	color: #BFB8AF;
}

.c-accordion .c-accordion_content .c-accordion_place {
	float: right;
	color: #BFB8AF;
}

.c-accordion .c-accordion_content .c-accordion_place span {
	color: #333;
}

.c-accordion .c-accordion_content .c-accordion_text {
	margin-bottom: 10px;
}

.c-accordion .c-accordion_content .c-accordion_text h3 {
	margin-bottom: 5px;
	font-size: 1rem;
	font-weight: 700;
	color: #333;
}

.c-accordion .c-accordion_content .c-accordion_text p {
	color: #7E7F74;
}

.c-accordion .c-accordion_content .c-accordion_footer {
	padding-right: 10px;
}

.c-accordion .c-accordion_item:last-child .c-accordion_title {
	border-bottom: 0;
}

.c-accordion .c-accordion_contact {
	position: absolute;
	top: 50%;
	right: -14px;
	margin-top: -49px;
}

.c-accordion .c-accordion_contact a {
	display: block;
	width: 39px;
	height: 39px;
	margin-bottom: 10px;
	line-height: 35px;
	text-align: center;
	vertical-align: middle;
	background: #00BBE6;
	border-radius: 50%;
}

.c-accordion .c-accordion_bio {
	padding-left: 60px;
	font-size: 12px;
	padding-right: 10px;
	color: #7E7F74;
}

.c-accordion .c-accordion_bio .c-accordion_name {
	color: #000;
	font-size: 14px;
}

.c-accordion .c-accordion_bio a {
	color: #00BBE6;
}

.c-accordion .c-accordion_bio .c-accordion_thumb {
	position: absolute;
	top: 15px;
	left: 10px;
}

.is-bio .c-accordion .c-accordion_content {
	width: -webkit-calc(100% - 15px);
	width: calc(100% - 15px);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.m-btn {
	display: inline-block;
	padding: 10px 30px;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #1a6ab0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.m-btn.is-primary {
	color: #1a6ab0;
	text-transform: uppercase;
	border: 2px solid #1a6ab0;
	border-radius: 30px;
}

.m-btn.is-primary:hover {
	color: #fff;
	text-decoration: none;
	background: #1a6ab0;
}

.m-btn.is-secondary {
	padding: 15px;
	font-size: 18px;
	color: #fff;
	text-transform: inherit;
	background: #1a6ab0;
}

.m-btn.is-secondary:hover {
	background: #f7dd32;
	border: 2px solid #f7dd32;
}

.m-form_row.is-last .m-btn {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.b-header_nav .m-btn {
	padding: 4px 15px;
	margin-left: 10px;
	font-family: "Helvetica Neue","HelveticaNeueCondensedBold",Arial,sans-serif;
	text-transform: inherit;
}

.c-form .c-form_btn {
	color: #fff;
	background: #00BBE6;
	text-align: center;
	border-radius: 30px;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	max-width: 300px;
	min-width: 150px;
	margin: 0 auto;
	border: 0;
}

.c-form .c-form_row {
	margin-bottom: 15px;
}

.c-form .c-form_row.is-submit {
	text-align: center;
}

.c-form .c-form_radio input {
	display: none;
}

.c-form .c-form_radio input:checked ~ span {
	border-color: #84BD00;
	background-color: #F5FFDF;
	position: relative;
	color: #84BD00;
	font-weight: 400;
}

.c-form .c-form_radio input:checked ~ span::after {
	content: '';
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -6px;
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -65px -50px;
	width: 16px;
	height: 14px;
	display: block;
}

.c-form .c-form_radio span {
	border: 1px solid #D7D7D7;
	font-weight: 300;
	border-radius: 22px;
	padding: 0 20px;
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 45px;
	line-height: 45px;
}

.is-login .c-form {
	background: #fff;
	border-radius: 30px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
}

.is-login .c-form_headline {
	text-align: center;
	color: #00BBE6;
	font-size: 24px;
	margin-bottom: 25px;
}

.is-login .c-form_btn {
	background: #333;
}

.is-login .c-form_label {
	font-size: 12px;
	color: #4A4A4A;
	display: block;
	margin-bottom: 5px;
}

.is-login .c-form_input input {
	color: #4A4A4A;
	border: 1px solid #00BBE6;
	background: rgba(0,184,230,0.05);
	border-radius: 20px;
	width: 100%;
	height: 40px;
	line-height: 100%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}

.is-login .c-form_input input:focus {
	outline: none;
	background: rgba(0,184,230,0.15);
}

.is-login .state-error input {
	border: 1px solid #c32727;
	background: rgba(0,184,230,0.05);
}

.is-login .state-error .invalid {
	color: #c32727;
	font-size: 13px;
}

.a-logo {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.is-category .a-logo {
	display: none;
}

.c-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 38%;
	height: 60%;
}

.c-menu .c-menu_item {
	display: block;
	width: 100%;
	height: 30%;
	height: -webkit-calc(33.3333% - 15px);
	height: calc(33.3333% - 15px);
	padding: 15px;
	margin-top: 15px;
	font-size: 1.2rem;
	color: #fff;
	background: rgba(0,187,230,0.8);
	border-radius: 0 0 0 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.is-category .c-menu {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	background: #F7F7F7;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.is-category .c-menu .c-menu_item {
	display: block;
	float: left;
	width: 33.33333%;
	height: auto;
	padding: 15px 0;
	margin: 0;
	font-size: .9rem;
	color: #333333;
	text-align: center;
	background: none;
	border-top: 3px solid #f7f7f7;
	border-radius: none;
}

.is-category .c-menu .c-menu_item .is-br {
	display: none;
}

.is-category .c-menu .c-menu_item.is-active {
	border-color: #00BBE6;
}

.a-typo.is-primary {
	position: absolute;
	font-family: "Helvetica Neue","HelveticaNeueLTProCn",Arial,sans-serif;
	font-size: 3rem;
	color: #fff;
}

.is-category .a-typo.is-primary {
	position: static;
	margin-bottom: 15px;
	font-size: 2rem;
	color: #333;
}

.c-accordion .c-accordion_title {
	position: relative;
	padding: 15px 0;
	color: #00BBE6;
	border-bottom: 1px solid #00BBE6;
}

.c-accordion .c-accordion_title::after {
	position: absolute;
	right: -20px;
	bottom: -1px;
	display: block;
	width: 20px;
	height: 1px;
	background: #00BBE6;
	content: '';
}

.c-accordion .c-accordion_title i {
	position: absolute;
	top: 20px;
	right: 10px;
}

.c-accordion .is-active .c-accordion_title {
	color: #333;
	border-bottom: 1px solid #fff;
}

.c-accordion .is-active .c-accordion_title .icon-arrow02 {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px -48px;
	width: 13px;
	height: 9px;
}

.c-accordion .is-active .c-accordion_content {
	display: block;
}

.c-accordion .c-accordion_content {
	position: relative;
	display: none;
	padding: 15px;
	margin-bottom: 10px;
	font-size: .9rem;
	line-height: 1.2rem;
	background: #f1f1f1;
	border-radius: 6px;
}

.c-accordion .c-accordion_content.is-active {
	background: #00BBE6;
	overflow: hidden;
}

.c-accordion .c-accordion_content.is-active .c-accordion_add {
	right: -1px;
	bottom: -1px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_add i {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: 0px 0px;
	width: 39px;
	height: 40px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_lead,
.c-accordion .c-accordion_content.is-active .c-accordion_place,
.c-accordion .c-accordion_content.is-active .c-accordion_data,
.c-accordion .c-accordion_content.is-active .c-accordion_text {
	color: #fff;
}

.c-accordion .c-accordion_content.is-active .c-accordion_lead p,
.c-accordion .c-accordion_content.is-active .c-accordion_place p,
.c-accordion .c-accordion_content.is-active .c-accordion_data p,
.c-accordion .c-accordion_content.is-active .c-accordion_text p {
	color: #fff;
}

.c-accordion .c-accordion_content.is-active .c-accordion_data i {
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -98px -24px;
	width: 14px;
	height: 14px;
}

.c-accordion .c-accordion_content .c-accordion_add {
	position: absolute;
	right: 0;
	bottom: 0;
}

.c-accordion .c-accordion_content .c-accordion_header {
	margin-bottom: 10px;
	overflow: hidden;
}

.c-accordion .c-accordion_content .c-accordion_data {
	float: left;
	color: #333;
}

.c-accordion .c-accordion_content .c-accordion_lead {
	color: #BFB8AF;
}

.c-accordion .c-accordion_content .c-accordion_place {
	float: right;
	color: #BFB8AF;
}

.c-accordion .c-accordion_content .c-accordion_place span {
	color: #333;
}

.c-accordion .c-accordion_content .c-accordion_text {
	margin-bottom: 10px;
}

.c-accordion .c-accordion_content .c-accordion_text h3 {
	margin-bottom: 5px;
	font-size: 1rem;
	font-weight: 700;
	color: #333;
}

.c-accordion .c-accordion_content .c-accordion_text p {
	color: #7E7F74;
}

.c-accordion .c-accordion_content .c-accordion_footer {
	padding-right: 10px;
}

.c-accordion .c-accordion_item:last-child .c-accordion_title {
	border-bottom: 0;
}

.c-accordion .c-accordion_contact {
	position: absolute;
	top: 50%;
	right: -14px;
	margin-top: -49px;
}

.c-accordion .c-accordion_contact a {
	display: block;
	width: 39px;
	height: 39px;
	margin-bottom: 10px;
	line-height: 35px;
	text-align: center;
	vertical-align: middle;
	background: #00BBE6;
	border-radius: 50%;
}

.c-accordion .c-accordion_bio {
	padding-left: 60px;
	font-size: 12px;
	padding-right: 10px;
	color: #7E7F74;
}

.c-accordion .c-accordion_bio .c-accordion_name {
	color: #000;
	font-size: 14px;
}

.c-accordion .c-accordion_bio a {
	color: #00BBE6;
}

.c-accordion .c-accordion_bio .c-accordion_thumb {
	position: absolute;
	top: 15px;
	left: 10px;
}

.is-bio .c-accordion .c-accordion_content {
	width: -webkit-calc(100% - 15px);
	width: calc(100% - 15px);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.m-btn {
	display: inline-block;
	padding: 10px 30px;
	font-size: 18px;
	cursor: pointer;
	border: 2px solid #1a6ab0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
}

.m-btn.is-primary {
	color: #1a6ab0;
	text-transform: uppercase;
	border: 2px solid #1a6ab0;
	border-radius: 30px;
}

.m-btn.is-primary:hover {
	color: #fff;
	text-decoration: none;
	background: #1a6ab0;
}

.m-btn.is-secondary {
	padding: 15px;
	font-size: 18px;
	color: #fff;
	text-transform: inherit;
	background: #1a6ab0;
}

.m-btn.is-secondary:hover {
	background: #f7dd32;
	border: 2px solid #f7dd32;
}

.m-form_row.is-last .m-btn {
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.b-header_nav .m-btn {
	padding: 4px 15px;
	margin-left: 10px;
	font-family: "Helvetica Neue","HelveticaNeueCondensedBold",Arial,sans-serif;
	text-transform: inherit;
}

.c-form .c-form_btn {
	color: #fff;
	background: #00BBE6;
	text-align: center;
	border-radius: 30px;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	max-width: 300px;
	min-width: 150px;
	margin: 0 auto;
	border: 0;
}

.c-form .c-form_row {
	margin-bottom: 15px;
}

.c-form .c-form_row.is-submit {
	text-align: center;
}

.c-form .c-form_radio input {
	display: none;
}

.c-form .c-form_radio input:checked ~ span {
	border-color: #84BD00;
	background-color: #F5FFDF;
	position: relative;
	color: #84BD00;
	font-weight: 400;
}

.c-form .c-form_radio input:checked ~ span::after {
	content: '';
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -6px;
	background-image: url(../images/sprite.png?1512161553226);
	background-position: -65px -50px;
	width: 16px;
	height: 14px;
	display: block;
}

.c-form .c-form_radio span {
	border: 1px solid #D7D7D7;
	font-weight: 300;
	border-radius: 22px;
	padding: 0 20px;
	width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 45px;
	line-height: 45px;
}

.is-login .c-form {
	background: #fff;
	border-radius: 30px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
}

.is-login .c-form_headline {
	text-align: center;
	color: #00BBE6;
	font-size: 24px;
	margin-bottom: 25px;
}

.is-login .c-form_btn {
	background: #333;
}

.is-login .c-form_label {
	font-size: 12px;
	color: #4A4A4A;
	display: block;
	margin-bottom: 5px;
}

.is-login .c-form_input input {
	color: #4A4A4A;
	border: 1px solid #00BBE6;
	background: rgba(0,184,230,0.05);
	border-radius: 20px;
	width: 100%;
	height: 40px;
	line-height: 100%;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
}

.is-login .c-form_input input:focus {
	outline: none;
	background: rgba(0,184,230,0.15);
}

.is-login .state-error input {
	border: 1px solid #c32727;
	background: rgba(0,184,230,0.05);
}

.is-login .state-error .invalid {
	color: #c32727;
	font-size: 13px;
}

.a-logo {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 10;
}

.is-category .a-logo {
	display: none;
}

.c-menu {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 38%;
	height: 60%;
}

.c-menu .c-menu_item {
	display: block;
	width: 100%;
	height: 30%;
	height: -webkit-calc(33.3333% - 15px);
	height: calc(33.3333% - 15px);
	padding: 15px;
	margin-top: 15px;
	font-size: 1.2rem;
	color: #fff;
	background: rgba(0,187,230,0.8);
	border-radius: 0 0 0 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.is-category .c-menu {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: auto;
	height: auto;
	background: #F7F7F7;
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.is-category .c-menu .c-menu_item {
	display: block;
	float: left;
	width: 33.33333%;
	height: auto;
	padding: 15px 0;
	margin: 0;
	font-size: .9rem;
	color: #333333;
	text-align: center;
	background: none;
	border-top: 3px solid #f7f7f7;
	border-radius: none;
}

.is-category .c-menu .c-menu_item .is-br {
	display: none;
}

.is-category .c-menu .c-menu_item.is-active {
	border-color: #00BBE6;
}

.a-typo.is-primary {
	position: absolute;
	font-family: "Helvetica Neue","HelveticaNeueLTProCn",Arial,sans-serif;
	font-size: 3rem;
	color: #fff;
}

.is-category .a-typo.is-primary {
	position: static;
	margin-bottom: 15px;
	font-size: 2rem;
	color: #333;
}

html [class*='icon-'],
html [class^='icon-'] {
	display: inline-block;
	vertical-align: middle;
}

html {
	font-size: 100%;
}

b,
strong {
	font-weight: 700;
}

body {
	font-family: "Helvetica Neue","HelveticaNeueLTProCn",Arial,sans-serif,"Arial";
	background: #fff;
}

body a {
	font-family: "Helvetica Neue","HelveticaNeueLTProCn",Arial,sans-serif,"Arial";
	color: #444;
	text-decoration: none;
}

body input {
	font-family: "Helvetica Neue","HelveticaNeueLTProCn",Arial,sans-serif,"Arial";
}

.is-hidden {
	display: none;
}

.b-main {
	position: relative;
	height: -webkit-calc(100% - 40px);
	height: calc(100% - 40px);
	margin: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.is-bio .b-main {
	margin: 20px 10px 20px 20px;
}

.is-br {
	display: inline;
}

.b-mainWrapper {
	height: 100vh;
	overflow: hidden;
	background-image: url("../images/main.png");
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 740px;
	margin: 0 auto;
	position: relative;
}

.b-mainWrapper.is-login {
	background: #00BBE6;
}

.b-mainWrapper.is-category {
	background-color: #fff;
	background-image: none;
}

.b-mainWrapper.is-category .b-main {
	height: -webkit-calc(100vh - 90px);
	height: calc(100vh - 90px);
	overflow: auto;
}

/*# sourceMappingURL=style.css.map */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

.icon-arrow01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-arrow02 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-clock01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-clock02 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-close01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-edit01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-more01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-phone01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.icon-tick01 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-accordion .is-active .c-accordion_title .icon-arrow02 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_add i {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_data i {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-form .c-form_radio input:checked ~ span::after {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-accordion .is-active .c-accordion_title .icon-arrow02 {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_add i {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-accordion .c-accordion_content.is-active .c-accordion_data i {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.c-form .c-form_radio input:checked ~ span::after {
	background-image: url(../images/sprite-2x.png?1512161553226);
	background-size: 112px 93px;
}

.b-mainWrapper {
	background-image: url("../images/main2x.png");
}

}

@media only screen and (orientation: landscape) {

.c-menu {
	height: auto;
	width: 68%;
	bottom: 0;
}

.c-menu .c-menu_item {
	height: 80px;
	border-radius: 0 0 0 15px;
}

.a-typo.is-primary {
	font-size: 2rem;
}

.c-menu {
	height: auto;
	width: 68%;
	bottom: 0;
}

.c-menu .c-menu_item {
	height: 80px;
	border-radius: 0 0 0 15px;
}

.a-typo.is-primary {
	font-size: 2rem;
}

.is-br {
	display: none;
}

.b-mainWrapper {
	background-position-y: 30%;
}

}

@media screen and (min-width: 370px) {

.is-login .c-form {
	bottom: 25%;
}

.is-login .c-form_row {
	margin-bottom: 20px;
}

.c-menu {
	width: 100%;
	height: auto;
	bottom: 100px;
}

.c-menu .c-menu_item:last-child {
	margin-right: 0;
}

.c-menu .c-menu_item {
	display: block;
	width: 31.333333%;
	float: left;
	margin-right: 3%;
	height: 100px;
}

.is-login .c-form {
	bottom: 25%;
}

.is-login .c-form_row {
	margin-bottom: 20px;
}

.c-menu {
	width: 100%;
	height: auto;
	bottom: 100px;
}

.c-menu .c-menu_item:last-child {
	margin-right: 0;
}

.c-menu .c-menu_item {
	display: block;
	width: 31.333333%;
	float: left;
	margin-right: 3%;
	height: 100px;
}

}

@media screen and (min-width: 480px) {

.c-accordion .c-accordion_bio .c-accordion_name {
	font-size: 16px;
}

.c-accordion .c-accordion_bio {
	font-size: 14px;
	padding-left: 65px;
}

.c-accordion .c-accordion_bio .c-accordion_name {
	font-size: 16px;
}

.c-accordion .c-accordion_bio {
	font-size: 14px;
	padding-left: 65px;
}

}

@media screen and (min-width: 768px) {

.m-btn.is-secondary {
	font-size: 22px;
}

.m-form_row.is-last .m-btn {
	float: right;
	width: auto;
}

.m-btn.is-secondary {
	font-size: 22px;
}

.m-form_row.is-last .m-btn {
	float: right;
	width: auto;
}

}

@media screen and (min-width: 1024px) {

.m-btn {
	padding: 10px 100px;
}

.m-btn.is-secondary {
	padding: 15px 100px;
}

.m-btn {
	padding: 10px 100px;
}

.m-btn.is-secondary {
	padding: 15px 100px;
}

}

@media print {

* {
	text-shadow: none !important;
	-webkit-filter: none !important;
	filter: none !important;
	-ms-filter: none !important;
}

a[href]:after {
	content: " (" attr(href) ")";
}

a[href^="#"]:after,
a[href^="javascript:"]:after {
	content: "";
}

img,
tr {
	page-break-inside: avoid;
}

img {
	max-width: 100% !important;
}

}

