$font-primary: 'Helvetica Neue', 'HelveticaNeueLTProCn', Arial, sans-serif;
$font-secondary: 'Helvetica Neue', 'HelveticaNeueLTProHvCn', Arial, sans-serif; 
$font-tertiary: 'Helvetica Neue', 'HelveticaNeueCondensedBold', Arial, sans-serif; 

