$wrapperWidth: 1350px;
@import '_imports';
@import '_partials';
html [class*='icon-'],
html [class^='icon-'] {
    display: inline-block;
    vertical-align: middle;
}
html {
    font-size: 100%;
}
b,
strong {
    font-weight: 700;
}
body {
    font-family: $font-primary, 'Arial';
    background: $cl-white;
    a {
        font-family: $font-primary, 'Arial';
        color: $cl-grey4;
        text-decoration: none;
    }
    input {
        font-family: $font-primary, 'Arial';
    }
}
.is-hidden {
    display: none;
}
.b-main {
    position: relative;
    height: calc(100% - 40px);
    margin: 20px;
    box-sizing: border-box;
}
.is-bio {
    .b-main {
        margin: 20px 10px 20px 20px;
    }
}
.is-br {
    display: inline;
    @media only screen and (orientation: landscape) {
        display: none;
    }
}
.b-mainWrapper {
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/main.png');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 740px;
    margin: 0 auto;
    position: relative;
    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        background-image: url('../images/main2x.png');
    }
    @media only screen and (orientation: landscape) {
        background-position-y: 30%;
    }
    &.is-login {
        background: $cl-blue00;
    }
    &.is-category {
        background-color: $cl-white;
        background-image: none;
        .b-main {
            height: calc(100vh - 90px);
            overflow: auto;
        }
    }
}