<ion-content id="welcome" no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-home">
        <div class="b-main">
            <div class="b-user">
                <div class="b-user_pic">
                    <div class="b-user_mask" style="width: 64px; height: 64px">
                        <img src="http://api-ios.test001.pl/data/avatar/avatar.php?id={{ userPostData.visitor_id }}" alt="">
                    </div>
                </div>
            </div>
            <div class="b-mainNav">
                <nav class="b-menu">
                    <h1 class="a-typo is-logo">Mylan<br>Navigator</h1>
                    <ul>
                      <li *ngIf="this.siteData.digitalBadgeVisible == 1">
                        <a (click)="goToNav('tabDigitalBadge')">Identyfikator</a>
                      </li>
                        <li>
                            <a (click)="goToNav('tabAgenda')">Agenda</a>
                        </li>
                        <li *ngIf="this.siteData.ankietyActive">
                            <a (click)="goToNav('tabAnkieta')">Ankiety</a>
                        </li>
                        <li *ngIf="!this.siteData.ankietyActive">
                            <a (click)="goToNav('tabTest')">{{ this.siteData.ankietyName }}</a>
                        </li>
                        <li>
                            <a (click)="goToNav('tabCele')">Cele</a>
                        </li>
                        <li>
                            <a (click)="goToNav('tabNewsy')">Aktualności</a>
                        </li>
                        <li>
                            <a (click)="goToNav('tabKto')">Kto to jest?</a>
                        </li>
                        <li *ngIf="userPostData.mm">
                            <a (click)="goToNav('tabMm')">Myles & More</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</ion-content>
