.c-accordion {
    .c-accordion_title {
        position: relative;
        padding: 15px 0;
        color: $cl-blue00;
        border-bottom: 1px solid $cl-blue00;
        i {
            position: absolute;
            top: 20px;
            right: 10px;
        }
    }
    .is-active {
        .c-accordion_title {
            color: $cl-grey3;
            border-bottom: 1px solid $cl-white;
            .icon-arrow02 {
                @include retina-sprite($icon-arrow01-group);
            }
        }
        .c-accordion_content {
            display: block;
        }
    }
    .c-accordion_content {
        position: relative;
        display: none;
        padding: 15px;
        margin-bottom: 10px;
        font-size: .9rem;
        line-height: 1.2rem;
        background: $cl-greyF1;
        border-radius: 6px;
        &.is-active {
            background: $cl-blue00;
            overflow: hidden;
            .c-accordion_add {
                right: -1px;
                bottom: -1px;
                i {
                    @include retina-sprite($icon-close01-group);
                }
            }
            .c-accordion_lead,
            .c-accordion_place,
            .c-accordion_data,
            .c-accordion_text {
                color: $cl-white;
                p {
                    color: $cl-white;
                }
            }
            .c-accordion_data {
                i {
                    @include retina-sprite($icon-clock02-group);
                }
            }
        }
        .c-accordion_add {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .c-accordion_header {
            margin-bottom: 10px;
            overflow: hidden;
        }
        .c-accordion_data {
            float: left;
            color: $cl-grey3;
        }
        .c-accordion_lead {
            color: #BFB8AF;
        }
        .c-accordion_place {
            float: right;
            color: #BFB8AF;
            span {
                color: $cl-grey3;
            }
        }
        .c-accordion_text {
            margin-bottom: 10px;
            h3 {
                margin-bottom: 5px;
                font-size: 1rem;
                font-weight: 700;
                color: $cl-grey3;
            }
            p {
                color: #7E7F74;
            }
        }
        .c-accordion_footer {
            padding-right: 10px;
        }
    }
    .c-accordion_item {
        &:last-child {
            .c-accordion_title {
                border-bottom: 0;
            }
        }
    }
    .c-accordion_contact {
        position: absolute;
        top: 50%;
        right: -14px;
        margin-top: -49px;
        a {
            display: block;
            width: 39px;
            height: 39px;
            margin-bottom: 10px;
            line-height: 35px;
            text-align: center;
            vertical-align: middle;
            background: $cl-blue00;
            border-radius: 50%;
        }
    }
    .c-accordion_bio {
        padding-left: 60px;
        font-size: 12px;
        padding-right: 10px;
        color: #7E7F74;
        .c-accordion_name {
            color: $cl-black;
            font-size: 14px;
            @include breakpoint(phone){
            font-size: 16px;
            }
        }
        @include breakpoint(phone){
            font-size: 14px;
            padding-left: 65px;
        
        }
        a {
            color: $cl-blue00;
        }
        .c-accordion_thumb {
            position: absolute;
            top: 15px;
            left: 10px;
        }
    }
}
.is-bio {
    .c-accordion {
        .c-accordion_content {
            width: calc(100% - 15px);
            box-sizing: border-box;
        }
    }
}