.c-menu {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 100px;

    @include breakpoint('370px'){
        bottom: 100px;
    }
    @media only screen and (orientation: landscape) {
        height: auto;
        width: 68%;
        bottom: 0;
    }
    .c-menu_item {
        display: block;
        width: 31.333333%;
        float: left;
        margin-right: 2%;
        padding: 10px;
        margin-top: 15px;
        font-size: 1.2rem;
        color: $cl-white;
        background: rgba(0, 187, 230, .8);
        border-radius: 0 0 0 30px;
        box-sizing: border-box;
        height: 90px;
        &:last-child {
            margin-right: 0;
        }
        @include breakpoint('370px'){
            display: block;
            width: 31.333333%;
            float: left;
            margin-right: 3%;
            padding: 15px;
            height: 100px;
        }
        @media only screen and (orientation: landscape) {
            height: 80px;
            border-radius: 0 0 0 15px;

        }
    }
}
.is-category {
    .c-menu {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        background: #F7F7F7;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        .c-menu_item {
            display: block;
            float: left;
            width: 33.33333%;
            height: auto;
            padding: 15px 0;
            margin: 0;
            font-size: .9rem;
            color: #333333;
            text-align: center;
            background: none;
            border-top: 3px solid #f7f7f7;
            border-radius: none;
            .is-br {
                display: none;
            }
            &.is-active {
                border-color: #00BBE6;
            }
        }
    }
}