.a-typo {
    &.is-primary {
        position: absolute;
        font-family: $font-primary;
        font-size: 3rem;
        color: $cl-white;
        @media only screen and (orientation: landscape) {
            font-size: 2rem;
        }
    }
}
.is-category {
    .a-typo {
        &.is-primary {
            position: static;
            margin-bottom: 15px;
            font-size: 2rem;
            color: $cl-grey3;
        }
    }
}