.loginBg{

background: rgba(78,25,101,0.2);
background: -moz-linear-gradient(left, rgba(78,25,101,0.2) 0%, rgba(87,38,109,0.2) 45%, rgba(78,25,101,0.2) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(45%, rgba(87,38,109,0.2)), color-stop(100%, rgba(78,25,101,0.2)));
background: -webkit-linear-gradient(left, rgba(78,25,101,0.2) 0%, rgba(87,38,109,0.2) 45%, rgba(78,25,101,0.2) 100%);
background: -o-linear-gradient(left, rgba(78,25,101,0.2) 0%, rgba(87,38,109,0.2) 45%, rgba(78,25,101,0.2) 100%);
background: -ms-linear-gradient(left, rgba(78,25,101,0.2) 0%, rgba(87,38,109,0.2) 45%, rgba(78,25,101,0.2) 100%);
background: linear-gradient(to right, rgba(78,25,101,0.2) 0%, rgba(87,38,109,0.2) 45%, rgba(78,25,101,0.2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e1965', endColorstr='#4e1965', GradientType=1 );

}

.app-logo{ max-width:150px; margin:auto; background-repeat:no-repeat;background-position:center; margin-bottom: 15px;}
.top-content { padding-top: 10vh;  text-align: center;   }
.loginButton{ padding-bottom:0px; }
.button-balanced{ background-color: #4e1965!important; border: 1px solid #4e1965!important}
.remvoeBP{ padding-bottom:0px;}
.removePM{ margin-top:0px; margin-bottom:0px; padding-top:0px; padding-bottom:0px; }

#menuLinks .list .item{ border-color:#479CF7;}
#menuLinks .list .item a{ background:#387EF5; color:#fff;}

.error {
    background-color:red;
    color: #fff;
}

.error .alert-title {
    color: red;
}

.success {
    background-color:green;
    color: #fff;
}

.success .alert-title {
    color: green;
}

ion-alert {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    contain: strict;
}

ion-alert.alert-top {
    padding-top: 50px;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

ion-alert input {
    width: 100%;
}

.alert-wrapper {
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 250px;
    max-height: 90%;
    opacity: 0;
    contain: content;
}

.alert-title {
    margin: 0;
    padding: 0;
}

.alert-sub-title {
    margin: 5px 0 0;
    padding: 0;
    font-weight: normal;
}

.alert-message {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.alert-input {
    padding: 10px 0;
    border: 0;
    background: inherit;
}

.alert-input::-moz-placeholder {
    color: #999;
}

.alert-input:-ms-input-placeholder {
    color: #999;
}

.alert-input::-webkit-input-placeholder {
    text-indent: 0;
    color: #999;
}

.alert-button-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.alert-button-group-vertical {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.alert-button {
    margin: 0;
    z-index: 0;
    display: block;
    font-size: 14px;
    line-height: 20px;
}

.alert-tappable {
    text-align: left;
    text-align: start;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: inherit;
    line-height: initial;
    background: transparent;
}

.alert-ios .alert-wrapper {
    border-radius: 13px;
    overflow: hidden;
    max-width: 270px;
    background-color: #f8f8f8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.alert-ios .alert-head {
    text-align: center;
    padding: 12px 16px 7px;
}

.alert-ios .alert-title {
    margin-top: 8px;
    font-size: 17px;
    font-weight: 600;
}

.alert-ios .alert-sub-title {
    font-size: 14px;
    color: #666;
}

.alert-ios .alert-message,
.alert-ios .alert-input-group {
    text-align: center;
    font-size: 13px;
    color: inherit;
    padding: 0 16px 21px;
}

.alert-ios .alert-message {
    max-height: 240px;
}

.alert-ios .alert-message:empty {
    padding: 0 0 12px;
}

.alert-ios .alert-input {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 10px;
    border-radius: 4px;
    border: 0.55px solid #ccc;
    background-color: #fff;
    padding: 6px;
}

.alert-ios .alert-radio-group,
.alert-ios .alert-checkbox-group {
    overflow: scroll;
    max-height: 240px;
    border-top: 0.55px solid #dbdbdf;
    -webkit-overflow-scrolling: touch;
}

.alert-ios .alert-tappable {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 44px;
}

.alert-ios .alert-radio-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px;
}

.alert-ios [aria-checked=true] .alert-radio-label {
    color: #2A2C43;
}

.alert-ios .alert-radio-icon {
    position: relative;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    min-width: 30px;
}

.alert-ios [aria-checked=true] .alert-radio-inner {
    left: 7px;
    top: -7px;
    position: absolute;
    width: 6px;
    height: 12px;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #2A2C43;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert-ios .alert-checkbox-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px;
}

.alert-ios [aria-checked=true] .alert-checkbox-label {
    color: initial;
}

.alert-ios .alert-checkbox-icon {
    border-radius: 50%;
    position: relative;
    width: 21px;
    height: 21px;
    border-width: 0.55px;
    border-style: solid;
    border-color: #c8c7cc;
    background-color: #fff;
    margin: 10px 6px 10px 16px;
}

.alert-ios [aria-checked=true] .alert-checkbox-icon {
    border-color: #2A2C43;
    background-color: #2A2C43;
}

.alert-ios [aria-checked=true] .alert-checkbox-inner {
    left: 7px;
    top: 4px;
    position: absolute;
    width: 4px;
    height: 9px;
    border-width: 0.55px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert-ios .alert-button-group {
    margin-right: -0.55px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.alert-ios .alert-button {
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-width: 50%;
    height: 44px;
    border-top: 0.55px solid #dbdbdf;
    border-right: 0.55px solid #dbdbdf;
    font-size: 17px;
    color: #2A2C43;
    background-color: transparent;
}

.alert-ios .alert-button:last-child {
    border-right: 0;
    font-weight: bold;
}

.alert-ios .alert-button.activated {
    background-color: #e9e9e9;
}

.alert-md .alert-wrapper {
    border-radius: 2px;
    max-width: 280px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
}

.alert-md .alert-head {
    text-align: left;
    text-align: start;
    padding: 24px 24px 20px;
}

.alert-md .alert-title {
    font-size: 22px;
}

.alert-md .alert-sub-title {
    font-size: 16px;
}

.alert-md .alert-message,
.alert-md .alert-input-group {
    color: rgba(0, 0, 0, 0.5);
    padding: 0 24px 24px;
}

.alert-md .alert-message {
    max-height: 240px;
    font-size: 15px;
}

.alert-md .alert-message:empty {
    padding: 0;
}

.alert-md .alert-input {
    margin: 5px 0;
    border-bottom: 1px solid #dedede;
    color: #000;
}

.alert-md .alert-input:focus {
    margin-bottom: 4px;
    border-bottom: 2px solid #2A2C43;
}

.alert-md .alert-radio-group,
.alert-md .alert-checkbox-group {
    position: relative;
    overflow: auto;
    max-height: 240px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.alert-md .alert-tappable {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 4.4rem;
}

.alert-md .alert-radio-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px 26px;
}

.alert-md .alert-radio-icon {
    left: 13px;
    top: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
}

.alert-md .alert-radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #2A2C43;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.alert-md [aria-checked=true] .alert-radio-label {
    color: #2A2C43;
}

.alert-md [aria-checked=true] .alert-radio-icon {
    border-color: #2A2C43;
}

.alert-md [aria-checked=true] .alert-radio-inner {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.alert-md .alert-checkbox-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px 26px;
}

.alert-md [aria-checked=true] .alert-checkbox-label {
    color: initial;
}

.alert-md .alert-checkbox-icon {
    left: 13px;
    top: 0;
    border-radius: 2px;
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: #787878;
}

.alert-md [aria-checked=true] .alert-checkbox-icon {
    border-color: #2A2C43;
    background-color: #2A2C43;
}

.alert-md [aria-checked=true] .alert-checkbox-inner {
    left: 3px;
    top: 0;
    position: absolute;
    width: 6px;
    height: 10px;
    border-width: 2px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert-md .alert-button-group {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 8px 8px 8px 24px;
}

.alert-md .alert-button {
    text-align: right;
    text-align: end;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    font-weight: 500;
    text-transform: uppercase;
    color: #2A2C43;
    background-color: transparent;
    margin: 0 8px 0 0;
    padding: 10px;
}

.alert-md .alert-button.activated {
    background-color: rgba(158, 158, 158, 0.2);
}

.alert-md .alert-button .button-inner {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.alert-wp ion-backdrop {
    background: #fff;
}

.alert-wp .alert-wrapper {
    border-radius: 0;
    width: 100%;
    max-width: 520px;
    border: 1px solid #2A2C43;
    background: #e6e6e6;
}

.alert-wp .alert-head {
    text-align: left;
    text-align: start;
    padding: 20px 22px 5px;
}

.alert-wp .alert-title {
    font-size: 20px;
    font-weight: 400;
}

.alert-wp .alert-sub-title {
    font-size: 16px;
}

.alert-wp .alert-message,
.alert-wp .alert-input-group {
    color: #000;
    padding: 0 22px 8px;
}

.alert-wp .alert-message {
    max-height: 240px;
    font-size: 13px;
}

.alert-wp .alert-message:empty {
    padding: 0;
}

.alert-wp .alert-input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    line-height: 3rem;
    color: #000;
    margin: 5px 0;
    padding: 0 8px;
}

.alert-wp .alert-input:focus {
    border-color: #2A2C43;
}

.alert-wp .alert-radio-group,
.alert-wp .alert-checkbox-group {
    position: relative;
    overflow: auto;
    max-height: 240px;
}

.alert-wp .alert-tappable {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    min-height: 4.4rem;
}

.alert-wp .alert-radio-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px 26px;
}

.alert-wp .alert-radio-icon {
    left: 13px;
    top: 0;
    margin: 0;
    border-radius: 50%;
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
}

.alert-wp .alert-radio-inner {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    background: #2A2C43;
}

.alert-wp [aria-checked=true] .alert-radio-label {
    color: #000;
}

.alert-wp [aria-checked=true] .alert-radio-icon {
    border-color: rgba(0, 0, 0, 0.5);
}

.alert-wp [aria-checked=true] .alert-radio-inner {
    display: block;
}

.alert-wp .alert-checkbox-label {
    overflow: hidden;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: initial;
    padding: 13px 26px;
}

.alert-wp [aria-checked=true] .alert-checkbox-label {
    color: initial;
}

.alert-wp .alert-checkbox-icon {
    left: 13px;
    top: 0;
    border-radius: 0;
    position: relative;
    width: 16px;
    height: 16px;
    border-width: 2px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    background: transparent;
}

.alert-wp [aria-checked=true] .alert-checkbox-icon {
    border-color: #2A2C43;
    background: #2A2C43;
}

.alert-wp [aria-checked=true] .alert-checkbox-inner {
    left: 3px;
    top: -2px;
    position: absolute;
    width: 6px;
    height: 12px;
    border-width: 1px;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    border-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.alert-wp .alert-button-group {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 20px 22px;
}

.alert-wp .alert-button-group-vertical .alert-button {
    margin-top: 5px;
    width: 100%;
}

.alert-wp .alert-button-group-vertical .alert-button:first-child:not(:only-child) {
    margin-right: 0;
    margin-top: 0;
}

.alert-wp .alert-button {
    border-radius: 0;
    width: 49.5%;
    font-weight: 400;
    color: #000;
    background: #b8b8b8;
    padding: 5px;
}

.alert-wp .alert-button:first-child:not(:only-child) {
    margin-right: 1%;
}

.alert-wp .alert-button.activated {
    background: darkgray;
}

