// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow01-name: 'icon-arrow01';
$icon-arrow01-x: 161px;
$icon-arrow01-y: 114px;
$icon-arrow01-offset-x: -161px;
$icon-arrow01-offset-y: -114px;
$icon-arrow01-width: 18px;
$icon-arrow01-height: 11px;
$icon-arrow01-total-width: 181px;
$icon-arrow01-total-height: 172px;
$icon-arrow01-image: '../images/sprite.png?1552227763138';
$icon-arrow01: (161px, 114px, -161px, -114px, 18px, 11px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-arrow01', );
$icon-arrow02-name: 'icon-arrow02';
$icon-arrow02-x: 38px;
$icon-arrow02-y: 114px;
$icon-arrow02-offset-x: -38px;
$icon-arrow02-offset-y: -114px;
$icon-arrow02-width: 24px;
$icon-arrow02-height: 18px;
$icon-arrow02-total-width: 181px;
$icon-arrow02-total-height: 172px;
$icon-arrow02-image: '../images/sprite.png?1552227763138';
$icon-arrow02: (38px, 114px, -38px, -114px, 24px, 18px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-arrow02', );
$icon-arrowback01-name: 'icon-arrowback01';
$icon-arrowback01-x: 30px;
$icon-arrowback01-y: 152px;
$icon-arrowback01-offset-x: -30px;
$icon-arrowback01-offset-y: -152px;
$icon-arrowback01-width: 10px;
$icon-arrowback01-height: 12px;
$icon-arrowback01-total-width: 181px;
$icon-arrowback01-total-height: 172px;
$icon-arrowback01-image: '../images/sprite.png?1552227763138';
$icon-arrowback01: (30px, 152px, -30px, -152px, 10px, 12px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-arrowback01', );
$icon-calc01-name: 'icon-calc01';
$icon-calc01-x: 116px;
$icon-calc01-y: 74px;
$icon-calc01-offset-x: -116px;
$icon-calc01-offset-y: -74px;
$icon-calc01-width: 29px;
$icon-calc01-height: 28px;
$icon-calc01-total-width: 181px;
$icon-calc01-total-height: 172px;
$icon-calc01-image: '../images/sprite.png?1552227763138';
$icon-calc01: (116px, 74px, -116px, -74px, 29px, 28px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-calc01', );
$icon-cart01-name: 'icon-cart01';
$icon-cart01-x: 155px;
$icon-cart01-y: 74px;
$icon-cart01-offset-x: -155px;
$icon-cart01-offset-y: -74px;
$icon-cart01-width: 25px;
$icon-cart01-height: 22px;
$icon-cart01-total-width: 181px;
$icon-cart01-total-height: 172px;
$icon-cart01-image: '../images/sprite.png?1552227763138';
$icon-cart01: (155px, 74px, -155px, -74px, 25px, 22px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-cart01', );
$icon-logo01-name: 'icon-logo01';
$icon-logo01-x: 0px;
$icon-logo01-y: 0px;
$icon-logo01-offset-x: 0px;
$icon-logo01-offset-y: 0px;
$icon-logo01-width: 106px;
$icon-logo01-height: 104px;
$icon-logo01-total-width: 181px;
$icon-logo01-total-height: 172px;
$icon-logo01-image: '../images/sprite.png?1552227763138';
$icon-logo01: (0px, 0px, 0px, 0px, 106px, 104px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-logo01', );
$icon-logo02-name: 'icon-logo02';
$icon-logo02-x: 116px;
$icon-logo02-y: 0px;
$icon-logo02-offset-x: -116px;
$icon-logo02-offset-y: 0px;
$icon-logo02-width: 65px;
$icon-logo02-height: 64px;
$icon-logo02-total-width: 181px;
$icon-logo02-total-height: 172px;
$icon-logo02-image: '../images/sprite.png?1552227763138';
$icon-logo02: (116px, 0px, -116px, 0px, 65px, 64px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-logo02', );
$icon-menu01-name: 'icon-menu01';
$icon-menu01-x: 72px;
$icon-menu01-y: 114px;
$icon-menu01-offset-x: -72px;
$icon-menu01-offset-y: -114px;
$icon-menu01-width: 23px;
$icon-menu01-height: 17px;
$icon-menu01-total-width: 181px;
$icon-menu01-total-height: 172px;
$icon-menu01-image: '../images/sprite.png?1552227763138';
$icon-menu01: (72px, 114px, -72px, -114px, 23px, 17px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-menu01', );
$icon-phone-name: 'icon-phone';
$icon-phone-x: 0px;
$icon-phone-y: 152px;
$icon-phone-offset-x: 0px;
$icon-phone-offset-y: -152px;
$icon-phone-width: 20px;
$icon-phone-height: 20px;
$icon-phone-total-width: 181px;
$icon-phone-total-height: 172px;
$icon-phone-image: '../images/sprite.png?1552227763138';
$icon-phone: (0px, 152px, 0px, -152px, 20px, 20px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-phone', );
$icon-presentation01-name: 'icon-presentation01';
$icon-presentation01-x: 0px;
$icon-presentation01-y: 114px;
$icon-presentation01-offset-x: 0px;
$icon-presentation01-offset-y: -114px;
$icon-presentation01-width: 28px;
$icon-presentation01-height: 28px;
$icon-presentation01-total-width: 181px;
$icon-presentation01-total-height: 172px;
$icon-presentation01-image: '../images/sprite.png?1552227763138';
$icon-presentation01: (0px, 114px, 0px, -114px, 28px, 28px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-presentation01', );
$icon-remove01-name: 'icon-remove01';
$icon-remove01-x: 136px;
$icon-remove01-y: 114px;
$icon-remove01-offset-x: -136px;
$icon-remove01-offset-y: -114px;
$icon-remove01-width: 15px;
$icon-remove01-height: 15px;
$icon-remove01-total-width: 181px;
$icon-remove01-total-height: 172px;
$icon-remove01-image: '../images/sprite.png?1552227763138';
$icon-remove01: (136px, 114px, -136px, -114px, 15px, 15px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-remove01', );
$icon-tick01-name: 'icon-tick01';
$icon-tick01-x: 105px;
$icon-tick01-y: 114px;
$icon-tick01-offset-x: -105px;
$icon-tick01-offset-y: -114px;
$icon-tick01-width: 21px;
$icon-tick01-height: 15px;
$icon-tick01-total-width: 181px;
$icon-tick01-total-height: 172px;
$icon-tick01-image: '../images/sprite.png?1552227763138';
$icon-tick01: (105px, 114px, -105px, -114px, 21px, 15px, 181px, 172px, '../images/sprite.png?1552227763138', 'icon-tick01', );
$icon-arrow01-2x-name: 'icon-arrow01@2x';
$icon-arrow01-2x-x: 322px;
$icon-arrow01-2x-y: 228px;
$icon-arrow01-2x-offset-x: -322px;
$icon-arrow01-2x-offset-y: -228px;
$icon-arrow01-2x-width: 36px;
$icon-arrow01-2x-height: 22px;
$icon-arrow01-2x-total-width: 362px;
$icon-arrow01-2x-total-height: 344px;
$icon-arrow01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-arrow01-2x: (322px, 228px, -322px, -228px, 36px, 22px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-arrow01@2x', );
$icon-arrow02-2x-name: 'icon-arrow02@2x';
$icon-arrow02-2x-x: 76px;
$icon-arrow02-2x-y: 228px;
$icon-arrow02-2x-offset-x: -76px;
$icon-arrow02-2x-offset-y: -228px;
$icon-arrow02-2x-width: 48px;
$icon-arrow02-2x-height: 36px;
$icon-arrow02-2x-total-width: 362px;
$icon-arrow02-2x-total-height: 344px;
$icon-arrow02-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-arrow02-2x: (76px, 228px, -76px, -228px, 48px, 36px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-arrow02@2x', );
$icon-arrowback01-2x-name: 'icon-arrowback01@2x';
$icon-arrowback01-2x-x: 60px;
$icon-arrowback01-2x-y: 304px;
$icon-arrowback01-2x-offset-x: -60px;
$icon-arrowback01-2x-offset-y: -304px;
$icon-arrowback01-2x-width: 20px;
$icon-arrowback01-2x-height: 24px;
$icon-arrowback01-2x-total-width: 362px;
$icon-arrowback01-2x-total-height: 344px;
$icon-arrowback01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-arrowback01-2x: (60px, 304px, -60px, -304px, 20px, 24px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-arrowback01@2x', );
$icon-calc01-2x-name: 'icon-calc01@2x';
$icon-calc01-2x-x: 232px;
$icon-calc01-2x-y: 148px;
$icon-calc01-2x-offset-x: -232px;
$icon-calc01-2x-offset-y: -148px;
$icon-calc01-2x-width: 58px;
$icon-calc01-2x-height: 56px;
$icon-calc01-2x-total-width: 362px;
$icon-calc01-2x-total-height: 344px;
$icon-calc01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-calc01-2x: (232px, 148px, -232px, -148px, 58px, 56px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-calc01@2x', );
$icon-cart01-2x-name: 'icon-cart01@2x';
$icon-cart01-2x-x: 310px;
$icon-cart01-2x-y: 148px;
$icon-cart01-2x-offset-x: -310px;
$icon-cart01-2x-offset-y: -148px;
$icon-cart01-2x-width: 50px;
$icon-cart01-2x-height: 44px;
$icon-cart01-2x-total-width: 362px;
$icon-cart01-2x-total-height: 344px;
$icon-cart01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-cart01-2x: (310px, 148px, -310px, -148px, 50px, 44px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-cart01@2x', );
$icon-logo01-2x-name: 'icon-logo01@2x';
$icon-logo01-2x-x: 0px;
$icon-logo01-2x-y: 0px;
$icon-logo01-2x-offset-x: 0px;
$icon-logo01-2x-offset-y: 0px;
$icon-logo01-2x-width: 212px;
$icon-logo01-2x-height: 208px;
$icon-logo01-2x-total-width: 362px;
$icon-logo01-2x-total-height: 344px;
$icon-logo01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-logo01-2x: (0px, 0px, 0px, 0px, 212px, 208px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-logo01@2x', );
$icon-logo02-2x-name: 'icon-logo02@2x';
$icon-logo02-2x-x: 232px;
$icon-logo02-2x-y: 0px;
$icon-logo02-2x-offset-x: -232px;
$icon-logo02-2x-offset-y: 0px;
$icon-logo02-2x-width: 130px;
$icon-logo02-2x-height: 128px;
$icon-logo02-2x-total-width: 362px;
$icon-logo02-2x-total-height: 344px;
$icon-logo02-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-logo02-2x: (232px, 0px, -232px, 0px, 130px, 128px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-logo02@2x', );
$icon-menu01-2x-name: 'icon-menu01@2x';
$icon-menu01-2x-x: 144px;
$icon-menu01-2x-y: 228px;
$icon-menu01-2x-offset-x: -144px;
$icon-menu01-2x-offset-y: -228px;
$icon-menu01-2x-width: 46px;
$icon-menu01-2x-height: 34px;
$icon-menu01-2x-total-width: 362px;
$icon-menu01-2x-total-height: 344px;
$icon-menu01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-menu01-2x: (144px, 228px, -144px, -228px, 46px, 34px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-menu01@2x', );
$icon-phone-2x-name: 'icon-phone@2x';
$icon-phone-2x-x: 0px;
$icon-phone-2x-y: 304px;
$icon-phone-2x-offset-x: 0px;
$icon-phone-2x-offset-y: -304px;
$icon-phone-2x-width: 40px;
$icon-phone-2x-height: 40px;
$icon-phone-2x-total-width: 362px;
$icon-phone-2x-total-height: 344px;
$icon-phone-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-phone-2x: (0px, 304px, 0px, -304px, 40px, 40px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-phone@2x', );
$icon-presentation01-2x-name: 'icon-presentation01@2x';
$icon-presentation01-2x-x: 0px;
$icon-presentation01-2x-y: 228px;
$icon-presentation01-2x-offset-x: 0px;
$icon-presentation01-2x-offset-y: -228px;
$icon-presentation01-2x-width: 56px;
$icon-presentation01-2x-height: 56px;
$icon-presentation01-2x-total-width: 362px;
$icon-presentation01-2x-total-height: 344px;
$icon-presentation01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-presentation01-2x: (0px, 228px, 0px, -228px, 56px, 56px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-presentation01@2x', );
$icon-remove01-2x-name: 'icon-remove01@2x';
$icon-remove01-2x-x: 272px;
$icon-remove01-2x-y: 228px;
$icon-remove01-2x-offset-x: -272px;
$icon-remove01-2x-offset-y: -228px;
$icon-remove01-2x-width: 30px;
$icon-remove01-2x-height: 30px;
$icon-remove01-2x-total-width: 362px;
$icon-remove01-2x-total-height: 344px;
$icon-remove01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-remove01-2x: (272px, 228px, -272px, -228px, 30px, 30px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-remove01@2x', );
$icon-tick01-2x-name: 'icon-tick01@2x';
$icon-tick01-2x-x: 210px;
$icon-tick01-2x-y: 228px;
$icon-tick01-2x-offset-x: -210px;
$icon-tick01-2x-offset-y: -228px;
$icon-tick01-2x-width: 42px;
$icon-tick01-2x-height: 30px;
$icon-tick01-2x-total-width: 362px;
$icon-tick01-2x-total-height: 344px;
$icon-tick01-2x-image: '../images/sprite-2x.png?1552227763138';
$icon-tick01-2x: (210px, 228px, -210px, -228px, 42px, 30px, 362px, 344px, '../images/sprite-2x.png?1552227763138', 'icon-tick01@2x', );
$spritesheet-width: 181px;
$spritesheet-height: 172px;
$spritesheet-image: '../images/sprite.png?1552227763138';
$spritesheet-sprites: ($icon-arrow01, $icon-arrow02, $icon-arrowback01, $icon-calc01, $icon-cart01, $icon-logo01, $icon-logo02, $icon-menu01, $icon-phone, $icon-presentation01, $icon-remove01, $icon-tick01, );
$spritesheet: (181px, 172px, '../images/sprite.png?1552227763138', $spritesheet-sprites, );
$retina-spritesheet-width: 362px;
$retina-spritesheet-height: 344px;
$retina-spritesheet-image: '../images/sprite-2x.png?1552227763138';
$retina-spritesheet-sprites: ($icon-arrow01-2x, $icon-arrow02-2x, $icon-arrowback01-2x, $icon-calc01-2x, $icon-cart01-2x, $icon-logo01-2x, $icon-logo02-2x, $icon-menu01-2x, $icon-phone-2x, $icon-presentation01-2x, $icon-remove01-2x, $icon-tick01-2x, );
$retina-spritesheet: (362px, 344px, '../images/sprite-2x.png?1552227763138', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-arrow01-group-name: 'icon-arrow01';
$icon-arrow01-group: ('icon-arrow01', $icon-arrow01, $icon-arrow01-2x, );
$icon-arrow02-group-name: 'icon-arrow02';
$icon-arrow02-group: ('icon-arrow02', $icon-arrow02, $icon-arrow02-2x, );
$icon-arrowback01-group-name: 'icon-arrowback01';
$icon-arrowback01-group: ('icon-arrowback01', $icon-arrowback01, $icon-arrowback01-2x, );
$icon-calc01-group-name: 'icon-calc01';
$icon-calc01-group: ('icon-calc01', $icon-calc01, $icon-calc01-2x, );
$icon-cart01-group-name: 'icon-cart01';
$icon-cart01-group: ('icon-cart01', $icon-cart01, $icon-cart01-2x, );
$icon-logo01-group-name: 'icon-logo01';
$icon-logo01-group: ('icon-logo01', $icon-logo01, $icon-logo01-2x, );
$icon-logo02-group-name: 'icon-logo02';
$icon-logo02-group: ('icon-logo02', $icon-logo02, $icon-logo02-2x, );
$icon-menu01-group-name: 'icon-menu01';
$icon-menu01-group: ('icon-menu01', $icon-menu01, $icon-menu01-2x, );
$icon-phone-group-name: 'icon-phone';
$icon-phone-group: ('icon-phone', $icon-phone, $icon-phone-2x, );
$icon-presentation01-group-name: 'icon-presentation01';
$icon-presentation01-group: ('icon-presentation01', $icon-presentation01, $icon-presentation01-2x, );
$icon-remove01-group-name: 'icon-remove01';
$icon-remove01-group: ('icon-remove01', $icon-remove01, $icon-remove01-2x, );
$icon-tick01-group-name: 'icon-tick01';
$icon-tick01-group: ('icon-tick01', $icon-tick01, $icon-tick01-2x, );
$retina-groups: ($icon-arrow01-group, $icon-arrow02-group, $icon-arrowback01-group, $icon-calc01-group, $icon-cart01-group, $icon-logo01-group, $icon-logo02-group, $icon-menu01-group, $icon-phone-group, $icon-presentation01-group, $icon-remove01-group, $icon-tick01-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
