/*
Reset / Utility classes
======
### _base2.0.scss
Reset based on html5 boilerplate and normalize.css

*/
/**
 ### 1. html
<code>
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -webkit-overflow-scrolling: touch;
        -webkit-font-smoothing: antialiased;
        height: 100%;
    }
</code>

*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    height: 100%;
}
/**
 ### 2. body
<code>
    body {
        margin: 0;
        height: 100%;
    }
</code>

*/
body {
    margin: 0;
    height: 100%;
}
/**
 ### 3. all elements
<code>
    "*" {
        margin: 0;
        padding: 0;
    }
</code>

*/
* {
    margin: 0;
    padding: 0;
}
/**
 ### 4. Reset global (based on eric mayer reset)
<code>
    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    code,
    del,
    dfn,
    em,
    img,
    q,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
        border: 0;
        font-family: inherit;
        font-size: 100%;
        font-weight: inherit;
        font-style: inherit;
        vertical-align: baseline;
        margin: 0;
        padding: 0;
        outline: 0;
    }
</code>

*/
a,
abbr,
acronym,
address,
blockquote,
body,
caption,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
img,
label,
legend,
li,
object,
ol,
p,
pre,
q,
span,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
ul {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    font-style: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    outline: 0;
}
/**
 ### 5. HTML5 display definitions
 Correct `block` display not defined for any HTML5 element in IE 8/9. <br>
 Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.<br>
 Correct `block` display not defined for `main` in IE 11.<br>

<code>
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block;
    }
</code>

*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
/**
 ### 6. inline-block
 Correct `inline-block` display not defined in IE 8/9. <br>
 Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.<br>

<code>
    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline;
    }
</code>

*/
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
/**
 ### 7. audio element
 Prevent modern browsers from displaying `audio` without controls. <br>
 Remove excess height in iOS 5 devices.<br>

<code>
    audio:not([controls]) {
        display: none;
        height: 0;
    }
</code>

*/
audio:not([controls]) {
    display: none;
    height: 0;
}
/**
 ### 8. hidden
 Address `[hidden]` styling not present in IE 8/9/10. <br>
 Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.<br>

<code>
    [hidden],
    template {
        display: none;
    }
</code>

*/
[hidden],
template {
    display: none;
}
/**
 ### 9. links
 Remove the gray background color from active links in IE 10. <br>
 Improve readability when focused and also mouse hovered in all browsers.

<code>
    a {
        background: transparent;
    }
    a:active,
    a:hover {
        outline: 0;
    }
</code>

*/
a {
    background: transparent;
}
a:active,
a:hover {
    outline: 0;
}
/**
 ### 10. Text-level semantics
 - abbr[title] / Address styling not present in IE 8/9/10/11, Safari, and Chrome. <br>
 - b, strong / Address style set to `bolder` in Firefox 4+, Safari, and Chrome. <br>
 - dfn / Address styling not present in Safari and Chrome. <br>
 - mark / Address styling not present in IE 8/9. <br>
 - small / Address inconsistent and variable font size in all browsers. <br>
 - sub, sup / Prevent `sub` and `sup` affecting `line-height` in all browsers. <br>

<code>
    abbr[title] {
        border-bottom: 1px dotted;
    }
    b,
    strong {
        font-weight: bold;
    }
    dfn {
        font-style: italic;
    }
    mark {
        background: #ff0;
        color: #000;
    }
    small {
        font-size: 80%;
    }
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }
</code>
*/
/**
 ### 11. images
 Remove border when inside `a` element in IE 8/9/10.

<code>
    img {
        border: 0;
    }
</code>
*/
img {
    border: 0;
}
/**
 ### 12. svg
 Correct overflow not hidden in IE 9/10/11.

<code>
    svg:not(:root) {
        overflow: hidden;
    }
</code>
*/
svg:not(:root) {
    overflow: hidden;
}
/**
 ### 13. Grouping content
 - hr / Address differences between Firefox and other browsers. <br>
 - pre / Contain overflow in all browsers. <br>
 - code, kbd, pre, samp / Address odd `em`-unit font size rendering in all browsers. <br>


<code>
    hr {
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        height: 0;
    }
    pre {
        overflow: auto;
    }
    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em;
    }
</code>
*/
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
/**
 ### 14. Forms
 Known limitation: by default, Chrome and Safari on OS X allow very limited
 styling of `select`, unless a `border` property is set.
<br><br>
1./ <br>
- Correct color not being inherited.
- Known issue: affects color of disabled elements.
- Correct font properties not being inherited.
- Address margins set differently in Firefox 4+, Safari, and Chrome.
<br>
2./ <br>
- buttons / Address `overflow` set to `hidden` in IE 8/9/10/11.
<br>
3./ <br>
- Address inconsistent `text-transform` inheritance for `button` and `select`.
- All other form control elements do not inherit `text-transform` values.
- Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
- Correct `select` style inheritance in Firefox.

<code>
    1./ button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }
    2./ button {
        overflow: visible;
    }
    3./ button,
    select {
        text-transform: none;
    }
</code>
*/
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}
.pointer,
a[href],
button,
input[type='image'],
input[type='submit'],
label[for],
select {
    cursor: pointer;
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled],
input[readonly],
select[disabled],
select[readonly],
textarea[disabled],
textarea[readonly] {
    cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
    font-family: Arial,sans-serif;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}
/* Tables
     ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}
/* Custom ENP declarations for links and images
========================================================================== */
a b {
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
    border-width: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    /*IE better img render*/
}
.ie8 img {
    width: auto;
}
/**********************************************************************************************
 *
 * START Default classes
 *
***********************************************************************************************/
/*clearfix - classic*/
.clearfix {
    clear: both;
    overflow: hidden;
}
/*clearfix - without overflow hidden*/
.clearfix2:after,
.clearfix2:before {
    content: "";
    display: table;
    height: 0;
}
.clearfix2:after {
    clear: both;
}
.clearfix2 {
    *zoom: 1;
}

/**********************************************************************************************
 *
 * END Default classes
 *
***********************************************************************************************/
/*PRINT*/
@media print {
    * {
        /*background: transparent !important;
        color: black !important;*/
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }
    @page {
        margin: 0.5cm;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    img,
    tr {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    /*p, h2, h3 {orphans: 3; widows: 3}
    h2, h3 {page-break-after: avoid}*/
}


@mixin triangle($direction:up, $color:#000, $size:100px) {
    @if($direction == up) {
        border-color: transparent transparent $color;
        border-style: solid;
        border-width: 0 $size $size;
        height: 0;
        width: 0;
    }
    @if($direction == up2) {
        border-color: transparent transparent $color;
        border-style: solid;
        border-width: $size;
        height: 0;
        width: 0;
    }
    @if($direction == down) {
        border-color: $color transparent transparent transparent;
        border-style: solid;
        border-width: $size;
        height:0;
        width:0;
    }
    @if($direction == left) {
        border-color: transparent $color transparent transparent;
        border-style: solid;
        border-width: $size $size $size 0;
        height: 0;
        width: 0;
    }
    @if($direction == right) {
        border-color: transparent transparent transparent $color;
        border-style: solid;
        border-width: $size 0 $size $size;
        height:0;
        width:0;
    }
    @if($direction == upright) {
        border-top: $size solid $color;
        border-right: $size solid transparent;
        height: 0;
        width: 0;
    }
    @if($direction == upleft) {
        border-top: $size solid $color;
        border-left: $size solid transparent;
        height: 0;
        width: 0;
    }
    @if($direction == downright) {
        border-bottom: $size solid $color;
        border-right: $size solid transparent;
        height: 0;
        width: 0;
    }
    @if($direction == downleft) {
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
        height: 0;
        width: 0;
    }
}

$rwd: true;

$break_point1: if($rwd, 320px, 1px);
$break_point2: if($rwd, 480px, 1px);
$break_point3: if($rwd, 640px, 1px);
$break_point4: if($rwd, 768px, 1px);
$break_point5: if($rwd, 980px, 1px);
$break_point6: if($rwd, 1024px, 1px);
$break_point7: if($rwd, 1200px, 1px);
$break_point8: if($rwd, 1760px, 1px);
 
@mixin breakpoint($name) {
	@if $name == "phone_small" {
		@media screen and (min-width: $break_point1) {
			@content;
		}
	}
	@else if $name == "phone" {
		@media screen and (min-width: $break_point2) {
			@content;
		}
	}
	@else if $name == "phone_big" {
		@media screen and (min-width: $break_point3) {
			@content;
		}
	}
	@else if $name == "tablet" {
		@media screen and (min-width: $break_point4) {
			@content;
		}
	}
	@else if $name == "tablet_big" {
		@media screen and (min-width: $break_point5) {
			@content;
		}
	}
	@else if $name == "desktop_small" {
		@media screen and (min-width: $break_point6) {
			@content;
		}
	}
	@else if $name == "desktop" {
		@media screen and (min-width: $break_point7) {
			@content;
		}
	}
	@else if $name == "desktop_big" {
		@media screen and (min-width: $break_point8) {
			@content;
		}
	}
	@else {
		@media screen and (min-width: $name) {
			@content;
		}
	}
}


