@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/googlesans/GoogleSansRegular.eot');
    src: url('../fonts/googlesans/GoogleSansRegular.eot') format('embedded-opentype'),
    url('../fonts/googlesans/GoogleSansRegular.woff2') format('woff2'),
    url('../fonts/googlesans/GoogleSansRegular.woff') format('woff'),
    url('../fonts/googlesans/GoogleSansRegular.ttf') format('truetype'),
    url('../fonts/googlesans/GoogleSansRegular.svg#GoogleSansRegular') format('svg');
    font-weight: 400;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/googlesans/GoogleSansMedium.eot');
    src: url('../fonts/googlesans/GoogleSansMedium.eot') format('embedded-opentype'),
    url('../fonts/googlesans/GoogleSansMedium.woff2') format('woff2'),
    url('../fonts/googlesans/GoogleSansMedium.woff') format('woff'),
    url('../fonts/googlesans/GoogleSansMedium.ttf') format('truetype'),
    url('../fonts/googlesans/GoogleSansMedium.svg#GoogleSansMedium') format('svg');
    font-weight: 500;
}
@font-face {
    font-family: 'GoogleSans';
    src: url('../fonts/googlesans/GoogleSansBold.eot');
    src: url('../fonts/googlesans/GoogleSansBold.eot') format('embedded-opentype'),
    url('../fonts/googlesans/GoogleSansBold.woff2') format('woff2'),
    url('../fonts/googlesans/GoogleSansBold.woff') format('woff'),
    url('../fonts/googlesans/GoogleSansBold.ttf') format('truetype'),
    url('../fonts/googlesans/GoogleSansBold.svg#GoogleSansBold') format('svg');
    font-weight: 600;
}

$font-primary: 'GoogleSans', Arial, sans-serif;