<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-news">
        <div class="b-main">
            <div class="b-goals">
                <img src="common/images/news.png" alt="">
                <p *ngIf='newsList?.length === 0' item-content class="a-typo is-secondary">Zakładka nie zawiera w tej
                    chwili żadnych informacji. </p>
                <ion-slides pager="true" class="js-newsCarousel b-news">
                    <ion-slide *ngFor="let item of newsList;  let last = last;" class="is-active">
                        <div class="b-news_item" style="padding-right: 20px">
                            <p class="b-news_time">{{ item.news_date_add }}</p>
                            <p class="a-typo is-secondary">
                                {{ item.news_title }}
                            </p>
                            <p class="a-typo is-text" [innerHTML]="item.news_desc_full | safeHtml">
                                {{ item.news_desc_full }}
                            </p>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>
</ion-content>