<ion-content no-bounce scrollbar-y="false" scrollY="false">
  <div class="b-mainWrapper is-mm">
    <div class="b-main">
      <nav class="b-mmNav">
        <ul>
          <li>
            <a (click)="goToNav('ranking')">Ranking</a>
          </li>
          <li>
            <a (click)="goToNav('kryteria')">Kryteria</a>
          </li>
          <li>
            <a (click)="goToNav('nagrody')">Nagrody</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</ion-content>
