page-mm {

}
.rankingLiniaAvatar {
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
  margin-top: 6px;

  span {
    display: block;
    width: 50px;
    line-height: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.3);
    font-size: 15px;
  }
}

.used {
  opacity: 0.5
}

.changeViewLabel {
  font-size: 15px;
  line-height: 15px;
  display: block;
  padding-top: 5px;
  width: 20%;
}

.popover-md .popover-content {
  color: inherit;
}

.b-precart {
  margin: 50px 35px !important;

}

page-mm-nagrody-info {
  background-color: #ff7b39ad;
}

.content-md {
  color: inherit;
}

.b-main {
  overflow: auto;
}

.item-cover {
  width: auto; height: auto;
}

.b-content {
  font-size: 17px;
  line-height: 21px;
}

.b-orderList .b-orderList_item .is-name span {
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: #fff;
}

.toast-container{
  color: #000
}

.b-ranking_img img {
  margin-top: 10px;
}

.b-user .is-count {
  width: 36px !important;
  height: 36px !important;
  line-height: 31px !important;
  font-size: 16px !important;
}
