.is-agenda {
    position: relative;
    height: 100vh;
    background: #F2A900;
}
.b-agenda {
    padding-top: 40px;
    .a-typo {
        &.is-primary {
            margin-bottom: 20px;
            font-size: 40px;
            font-weight: bold;
            text-align: center;
            @include breakpoint(360px) {
                font-size: 50px;
            }
        }
    }
}
.b-calendar {
    margin-bottom: 10px;
    overflow-x: auto;
    &_wrapper {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &_day {
        display: flex;
        width: 60px;
        height: 60px;
        min-width: 60px;
        margin: 0 5px;
        color: $cl-white;
        text-align: center;
        border-radius: 50%;
        &.is-active {
            color: #4A4A4A;
            background: $cl-white;
        }
        span {
            display: inline-block;
            font-size: 16px;
            line-height: 20px;
        }
        p {
            font-size: 8px;
            line-height: 10px;
        }
        flex-direction: column;
        justify-content: center;
    }
}
.b-day_wrapper {
    display: none;
    margin-bottom: 10px;
}
@for $i from 1 through 7 {
    #day_#{$i} {
        &:checked {
            & ~ .b-calendar {
                label[for="day_#{$i}"] {
                    color: #4A4A4A;
                    background: $cl-white;
                }
            }
            & ~ .b-day_#{$i} {
                display: block;
            }
        }
    }
}
.b-day {
    margin: 0 10px;
    td {
        padding: 10px 10px 30px;
        &:first-child {
            font-weight: bold;
            p {
                font-size: 15px;
                &:last-child {
                    font-size: 16px;
                }
            }
        }
        .a-typo {
            &.is-secondary {
                margin-bottom: 15px;
                font-size: 23px;
                font-weight: bold;
            }
            &.is-text {
                margin-bottom: 10px;
                font-size: 16px;
                line-height: 20px;
            }
            &.is-small {
                font-size: 14px;
            }
        }
    }
}