.is-polling {
    position: relative;
    height: 100vh;
    background: #C4135B;
    &.is-success {
        padding: 0 20px;
        img {
            margin: 30px auto;
        }
        .a-typo {
            &.is-secondary {
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: bold;
                line-height: 26px;
            }
        }
    }
}
.b-polling {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    img {
        max-width: 90%;
        margin: 0 auto 20px;
    }
    .c-form {
        padding: 0 20px;
        text-align: left;
        .c-form_row {
            margin-bottom: 40px;
            label {
                position: relative;
                display: block;
                padding: 8px 0 8px 45px;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: bold;
            }
            input[type='radio'] {
                display: none;
                &:checked {
                    & + label {
                        .is-customRadio {
                            &::after {
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                width: 24px;
                                height: 24px;
                                background: #00898B;
                                border-radius: 50%;
                                content: '';
                            }
                        }
                    }
                }
            }
            .is-customRadio {
                position: absolute;
                top: 0;
                left: 0;
                width: 32px;
                height: 32px;
                background: $cl-white;
                border-radius: 50%;
            }
        }
        .a-typo.is-secondary {
            margin-bottom: 15px;
            font-size: 23px;
            font-weight: bold;
            line-height: 28px;
        }
    }
    .a-btn {
        &.is-primary {
            display: block;
            width: 160px;
            height: 40px;
            margin: 0 auto;
        }
    }
}