.b-precart {
    max-width: 520px;
    margin: 15px;
    @include breakpoint(540px) {
        margin: 15px auto;
    }
    img {
        border-radius: 9px 9px 0 0;
    }
    .b-precart_inner {
        padding: 15px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        background: #0067A0;
        border-radius: 0 0 9px 9px;
    }
    .b-precart_data {
        padding: 0 15px 15px;
        border-bottom: 1px solid rgba($cl-white, .2);
    }
    .b-precart_desc {
        padding: 15px 15px 0;
        .is-price {
            display: inline-block;
            height: 52px;
            min-width: 140px;
            font-size: 20px;
            font-weight: 500;
            line-height: 52px;
            color: #0067A0;
            text-align: center;
            background: $cl-white;
            border-radius: 30px;
        }
        .is-changeCount {
            display: flex;
            height: 52px;
            max-width: 140px;
            min-width: 140px;
            margin: 0 auto;
            font-weight: 500;
            line-height: 52px;
            border-radius: 30px;
            border: 1px solid rgba(255,255,255,0.2);
            .is-plus,
            .is-minus {
                width: 42px;
                height: 42px;
                margin: 5px;
                font-size: 34px;
                line-height: 40px;
                color: #0067A0;
                cursor: pointer;
                background: $cl-white;
                border-radius: 50%;
            }
            .is-count {
                font-size: 20px;
            }
            justify-content: space-between;
        }
        .b-precart_footer {
            margin-top: 15px;
            margin-bottom: 10px;
            text-align: center;
        }
    }
    .b-precart_img {
        position: relative;
        display: flex;
        img {
            order: 1;
        }
        .is-info {
            padding: 15px 15px 0;
            font-size: 18px;
            font-weight: 600;
            text-align: left;
            background: #0067A0;
            span {
                display: block;
                font-weight: 400;
            }
            order: 2;
        }
        flex-direction: column;
    }
}
.is-precart {
    text-align: center;
    .a-btn {
        margin-top: 10px;
        margin-bottom: 15px;
        font-weight: 600;
        border: 1px solid rgba(255,255,255, .2);
    }
}