$cl-primary: #3567b2;
$cl-yellow: #f7dd32;
$cl-blue00: #00BBE6;;
$cl-grey4: #444;
$cl-grey82: #828282;
$cl-white: #fff;
$cl-blue1A: #1a6ab0;
$cl-blueB0: #b0c9e2;
$cl-grey3: #333333;
$cl-greyEA: #eaeaea;
$cl-greyF1: #f1f1f1;
$cl-grey4F: #4A4A4A;
$cl-grey3E: #3e3e3e;
$cl-greyB0: #b0b0b0;
$cl-red: #c32727;
$cl-black: #000000;