.m-btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 18px;
    cursor: pointer;
    border: 2px solid $cl-blue1A;
    box-sizing: border-box;
    transition: all .2s linear;
    @include breakpoint(desktop_small) {
        padding: 10px 100px;
    }
    &.is-primary {
        color: $cl-blue1A;
        text-transform: uppercase;
        border: 2px solid $cl-blue1A;
        border-radius: 30px;
        &:hover {
            color: $cl-white;
            text-decoration: none;
            background: $cl-blue1A;
        }
    }
    &.is-secondary {
        padding: 15px;
        font-size: 18px;
        color: $cl-white;
        text-transform: inherit;
        background: $cl-blue1A;
        @include breakpoint(tablet) {
            font-size: 22px;
        }
        @include breakpoint(desktop_small) {
            padding: 15px 100px;
        }
        &:hover {
            background: $cl-yellow;
            border: 2px solid $cl-yellow;
        }
    }
}
.m-form_row {
    &.is-last {
        .m-btn {
            display: block;
            width: 100%;
            box-sizing: border-box;
            @include breakpoint(tablet) {
                float: right;
                width: auto;
            }
        }
    }
}
.b-header_nav {
    .m-btn {
        padding: 4px 15px;
        margin-left: 10px;
        font-family: $font-tertiary;
        text-transform: inherit;
    }
}