.c-form {
    .c-form_btn {
        color: $cl-white;
        background: $cl-blue00;
        text-align: center;
        border-radius: 30px;
        font-size: 16px;
        height: 45px;
        line-height: 45px;
        max-width: 300px;
        min-width: 150px;
        margin: 0 auto;
        border: 0;
    }
    .c-form_row {
        margin-bottom: 15px;
        &.is-submit {
            text-align: center;
        }
    }
    .c-form_radio {
        input {
            display: none;
            &:checked ~ span {
                border-color: #84BD00;
                background-color: #F5FFDF;
                position: relative;
                color: #84BD00;
                font-weight: 400;
                &::after {
                    content: '';
                    position: absolute;
                    right: 18px;
                    top: 50%;
                    margin-top: -6px;
                    @include retina-sprite($icon-tick01-group);
                    display: block;
                }
            }
        }
        
        span {
            border: 1px solid #D7D7D7;
            font-weight: 300;
            border-radius: 22px;
            padding: 0 20px;
            width: 100%;
            display: block;
            box-sizing: border-box;
            height: 45px;
            line-height: 45px;
        }
    }
}
.is-login {
    .c-form {
        background: $cl-white;
        border-radius: 30px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20%;
        box-sizing: border-box;
        padding: 15px;
        @include breakpoint('370px'){
            bottom: 25%;
        }
    }
    .c-form_row {
        @include breakpoint('370px'){
            margin-bottom: 20px;
        }
    }
    .c-form_headline {
        text-align: center;
        color: $cl-blue00;
        font-size: 24px;
        margin-bottom: 25px;
    }
    .c-form_btn {
        background: $cl-grey3;
    }
    .c-form_label {
        font-size: 12px;
        color: $cl-grey4F;
        display: block;
        margin-bottom: 5px;
    }
    .c-form_input {
        input {
            color: $cl-grey4F;
            border: 1px solid $cl-blue00;
            background: rgba(0, 184, 230, .05);
            border-radius: 20px;
            width: 100%;
            height: 40px;
            line-height: 100%;
            padding: 0 15px;
            box-sizing: border-box;
            font-size: 16px;
            &:focus {
                outline: none;
                background: rgba(0, 184, 230, .15);
            }
        }
    }
    .state-error {
        input {
            border: 1px solid $cl-red;
            background: rgba(0, 184, 230, .05);
        }
        .invalid {
            color: $cl-red;
            font-size: 13px;
        }
    }
}
