<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-who">
        <div class="b-main">
            <div class="b-who">
                <img src="common/images/who.png" alt="">
                <div class="c-accordion">
                    <div class="c-accordion_item" *ngFor="let item of whoiswho; let first = first">
                        <input type="checkbox" [id]="'desc_' + item[1][0].visitor_id" aria-hidden="true" tabindex="-1" class="c-accordion_itemInput">
                        <label [for]="'desc_' + item[1][0].visitor_id" class="c-accordion_itemLabel">
                            {{ item[0] }}
                        </label>
                        <div class="c-accordion_content">
                            <div class="b-person" *ngFor="let member of item[1];">
                                <div class="b-person_desc">
                                    <p class="a-typo is-primary">{{ member.visitor_firstname }} {{ member.visitor_lastname }}</p>
                                    <p class="a-typo is-secondary">{{ member.visitor_stanowisko }}<span *ngIf="member.visitor_komentarz != ''"><br />{{ member.visitor_komentarz }}</span></p>
                                    <p class="a-typo is-tertiary">
                                        <a href="mailto:{{ member.visitor_email }}">{{ member.visitor_email }}</a>
                                    </p>
                                </div>
                                <div class="b-person_action">
                                    <div class="b-person_call">
                                        <a href="tel:{{ member.visitor_tel }}">
                                            <i class="icon-phone"></i>
                                        </a>
                                    </div>
                                    <div class="b-person_avatar">
                                        <img src="http://api-ios.test001.pl/data/avatar/avatar.php?id={{ member.visitor_id }}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>