.b-awards {
    padding: 60px 0 30px;
    .b-headline {
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(238, 209, 209, .4);
    }
    .b-awards_grid {
        padding: 0 10px;
    }
    .b-awards_gridRow {
        padding-bottom: 15px;
        margin-bottom: 15px;
        overflow: hidden;
        border-bottom: 1px solid rgba(238, 209, 209, .4);
        &:last-child {
            border-bottom: 0;
        }
        columns: 2;
    }
    .b-awards_gridItem {
        position: relative;
        margin-bottom: 23px;
        font-size: 16px;
        font-weight: 600;
        &:last-child {
            margin-bottom: 0;
        }
        .is-info {
            position: static;
            margin-top: 10px;
            line-height: 20px;
            order: 2;
        }
        span {
            display: block;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            color: $cl-white;
            span {
                font-size: 12px;
                font-weight: normal;
            }
        }
        a {
            display: flex;
            &:hover {
                text-decoration: none;
            }
            img {
                display: block;
                width: 100%;
                margin: 0 auto;
                order: 1;
            }
            flex-direction: column;
        }
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;
    }
    .b-awards_footer {
        text-align: center;
        p {
            margin-top: 10px;
            font-size: 11px;
        }
        .a-btn {
            position: relative;
            min-width: 230px;
            font-weight: 600;
            box-sizing: border-box;
            span {
                position: absolute;
                top: 50%;
                left: -10px;
                width: 18px;
                height: 18px;
                font-size: 9px;
                line-height: 18px;
                color: $cl-white;
                text-align: center;
                background: #053C5D;
                border-radius: 50%;
                border: 2px solid $cl-orange;
                transform: translateY(-50%);
            }
        }
    }
}