.is-filter {
    position: relative;
    height: 100vh;
    text-align: center;
    background: #fff;
    .a-btn {
        &.is-primary {
            min-width: 128px;
        }
    }
}
.b-filter {
    max-width: 520px;
    margin: 15px 20px;
    text-align: left;
    background: #053C5D;
    border-radius: 7px;
    .c-accordion_itemInput + .c-accordion_itemLabel {
        &::after {
            @include retina-sprite($icon-arrowback01-group);
            position: absolute;
            top: 40%;
            right: 0;
            z-index: 100;
            display: block;
            content: '';
            transform: scale(-1);
        }
    }
    .c-accordion_itemInput:checked + .c-accordion_itemLabel {
        &::after {
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .c-accordion_item {
        border-bottom: 1px solid rgba(255,255,255,.2);
    }
    .c-accordion_itemLabel {
        font-size: 14px;
        font-weight: 600;
    }
    .c-accordion_itemInput:checked ~ .c-accordion_content::after {
        display: none;
    }
    .c-accordion_itemInput:checked ~ .c-accordion_content::before {
        position: absolute;
        top: 0;
        right: -15px;
        left: -15px;
        display: block;
        border-bottom: 1px solid rgba(255,255,255,.2);
        content: '';
    }
    .c-accordion_contentWrapper {
        max-height: 165px;
        padding-top: 10px;
        overflow-y: auto;
        label {
            display: block;
            padding: 5px 0;
            font-size: 15px;
            font-weight: 400;
            input {
                display: none;
                &:checked {
                    & ~ span {
                        color: #E57200;
                    }
                }
            }
        }
    }
    .c-accordion_content {
        &.is-horizontal {
            margin: 0 -15px;
            overflow-x: auto;
            .c-accordion_contentWrapper {
                display: flex;
                width: 100%;
                padding: 15px 0;
                label {
                    float: none;
                    min-width: 20%;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    input {
                        &:checked {
                            & ~ span {
                                border-color: #E57200;
                            }
                        }
                    }
                    span {
                        display: block;
                        width: 40px;
                        line-height: 40px;
                        height: 40px;
                        margin: 0 auto;
                        border-radius: 50%;
                        border: 1px solid rgba(255,255,255,.3);
                    }
                    &:last-child {
                        margin-right: 10px;
                    }
                }
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
        &.is-sort {
            .c-accordion_contentWrapper {
                max-height: 100px;
                overflow-y: auto;
            }
        }
    }
}