.is-goals {
    position: relative;
    height: 100vh;
    background: #8246AF;
}
.b-goals {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    img {
        max-width: 100%;
        margin: 20px auto 40px;
    }
    .a-typo {
        &.is-secondary {
            padding: 0 20px;
            margin-bottom: 15px;
            font-size: 22px;
            font-weight: bold;
            text-align: left;
            span {
                display: inline-block;
                font-size: 32px;
                color: #57C4C4;
                vertical-align: text-bottom;
            }
        }
    }
    .b-goals_table {
        width: 100%;
        margin-bottom: 30px;
        font-size: 16px;
        color: $cl-white;
        &:last-of-type {
            margin-bottom: 0;
        }
        th {
            padding: 10px 20px;
            font-weight: bold;
            line-height: 20px;
            text-align: left;
            vertical-align: bottom;
        }
        td {
            padding: 10px 20px;
            text-align: left;
            border-bottom: 1px solid #57C4C4;
        }
        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
        .is-summary {
            td {
                font-weight: bold;
                &:first-child {
                    color: #57C4C4;
                }
            }
        }
    }
}