.is-home {
    position: relative;
    height: 100vh;
    background: #00BBE6 url('../images/home.png') no-repeat right 90%;
    background-position: 100% 95%;
    background-size: 100%;
    @media screen and (max-height: 480px) {
        background-size: 85%;
    }
    .b-menu {
        li {
            a {
                font-size: 16px;
            }
        }
    }
    .b-user {
        position: absolute;
        top: 57px;
        right: 21px;
        padding: 0;
        margin: 0;
        border-bottom: 0;
        .b-user_pic {
            background: url('../images/profile2.png') no-repeat center center;
        }
        .b-user_mask {
            width: 74px;
            height: 64px;
            img {
                max-width: 50px;
                margin: 4px auto;
            }
        }
    }
}