.is-login {
    position: relative;
    height: 100vh;
    background: $cl-blue url('../images/login.png') no-repeat left center;
    background-position: 0 38%;
    background-size: 48%;
    .b-main {
        display: flex;
        height: 100%;
        padding-top: 10vh;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
    }
    .a-typo {
        &.is-logo {
            position: relative;
            right: -20px;
            margin-bottom: 25px;
            font-size: 30px;
            line-height: 32px;
            @media screen and (max-height: 480px) {
                right: -30px;
                margin-bottom: 15px;
            }
            @include breakpoint(360px) {
                margin-bottom: 30px;
                font-size: 42px;
                line-height: 44px;
            }
        }
    }
}