.is-news {
    position: relative;
    height: 100vh;
    background: #84BD00;
}
.b-news {
    margin-right: 50px;
    overflow: visible !important;
    button {
        width: 6px;
        height: 6px;
        margin: 0 3px;
        font-size: 0;
        color: $cl-white;
        background: $cl-white;
        border-radius: 50%;
        transform: translateX(25px);
    }
    .b-news_item {
        opacity: .6;
    }
    .is-active {
        .b-news_item {
            opacity: 1;
        }
    }
}
.b-news_item {
    padding: 0 0 0 20px;
    margin-bottom: 30px;
    text-align: left;
    .b-news_time {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 18px;
    }
    .a-typo {
        &.is-secondary {
            padding: 0;
            margin-bottom: 10px;
            font-size: 23px;
            line-height: 30px;
        }
        &.is-text {
            font-size: 15px;
            line-height: 22px;
        }
    }
}