.b-orderList {
    height: calc(100vh - 210px);
    overflow-y: auto;
    .b-orderList_item {
        display: flex;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(238, 209, 209, .4);
        box-sizing: border-box;
        &:last-child {
            margin-bottom: 15px;
        }
        .is-name {
            width: 75%;
            a {
                font-size: 22px;
                font-weight: 600;
                line-height: 28px;
                color: $cl-white;
            }
        }
        .is-value {
            width: 20%;
            padding: 0 10px;
            font-size: 18px;
            white-space: nowrap;
        }
        .is-remove {
            width: 5%;
            padding-left: 10px;
        }
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
.is-orders {
    .b-awards {
        .b-headline {
            margin-bottom: 0;
            font-size: 30px;
        }
        .b-awards_footer {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 10px 0;
        }
    }
}