.is-who {
    position: relative;
    height: 100vh;
    background: #0067A0;
}
.b-who {
    padding-top: 20px;
    & > img {
        margin-bottom: 15px;
    }
}
.b-person {
    display: flex;
    padding: 15px 0;
    .b-person_desc {
        max-width: 66%;
    }
    .b-person_action {
        display: flex;
    }
    .b-person_call {
        a {
            display: inline-block;
            width: 44px;
            height: 44px;
            line-height: 44px;
            text-align: center;
            background: #0F255B;
            border-radius: 50%;
        }
    }
    .b-person_avatar {
        width: 44px;
        height: 44px;
        margin-left: 15px;
        img {
            border-radius: 50%;
        }
    }
    .a-typo {
        &.is-primary {
            font-size: 18px;
            font-weight: bold;
            line-height: 22px;
        }
        &.is-secondary {
            font-size: 14px;
            line-height: 18px;
        }
        &.is-tertiary {
            a {
                font-size: 13px;
                line-height: 18px;
                color: $cl-white;
                opacity: .6;
            }
        }
    }
    justify-content: space-between;
    flex-direction: row;
}