<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
  <div class="b-mainWrapper is-awards is-orders">
    <div class="b-main">
      <div class="b-awards">
        <h1 class="b-headline" style="margin-top: 25px;">Moje zamówienie</h1>
        <div class="b-orderList">
          <div class="b-orderList_item" *ngFor="let item of orders">
            <div class="is-name" style="width: 45%">
              <span>
                {{ item.product.product_title }}
              </span>
            </div>
            <div class="is-value">
              {{ item.amount }} szt.
            </div>
            <div class="is-value">
              {{ item.product.product_points*item.amount }} pkt.
            </div>
            <div class="is-remove">
              <a (click)="removePosition(item)"><i class="icon-remove01"></i></a>
            </div>
          </div>
        </div>
        <div class="b-awards_footer">
          <a (click)="makeOrder()" class="a-btn is-primary" *ngIf="orders.length > 0">
            Zamów
          </a>
          <p>Do wykorzystania pozostało {{ userData.points }} pkt.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
