<ion-content no-bounce scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-rank">
        <div class="b-main" style="margin-left: 0px; margin-right: 0px;">
            <div class="b-content">
                <div [innerHTML]="kryteria_desc | safeHtml">
                    {{ kryteria_desc }}
                </div>
            </div>
        </div>
    </div>
</ion-content>