<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-awards">
        <div class="b-main">
            <div class="b-awards">
                <h1 class="b-headline">Nagrody</h1>
                <div class="b-awards_grid">
                    <div class="b-awards_gridRow" *ngFor="let item of produkty;">
                        <div class="b-awards_gridItem">
                            {{ item[0] }} {{i}}
                        </div>
                        <div [class]="'b-awards_gridItem ' + (product.ordered ? 'used' : '')" *ngFor="let product of item[1]">
                            <a (click)="presentPopover(product);">
                                <span class="is-info">{{ product.product_title }} <span>{{ product.ordered ? 'Wykorzystany' : product.product_points + ' pkt.' }}</span></span>
                                <img src="http://api-ios.test001.pl/data/product_img/{{ product.mm_product_id }}_thumb2.jpg?v={{ dateCache }}" alt="" style="border-radius: 10px">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="b-awards_footer">
                    <a (click)="goToCard()" class="a-btn is-primary" *ngIf="!userData.asm && !userData.su">
                        <span>{{ countBasketItems() }}</span>
                        <i class="icon-cart01"></i> Moje zamówienie
                    </a>
                    <p *ngIf="!userData.asm && !userData.su">Razem masz do wykorzystania {{ userData.points }} pkt.</p>
                </div>
            </div>
        </div>
    </div>
</ion-content>