<div class="b-mainWrapper is-filter" style="background: rgba(0, 0, 0, 0.85)">
    <div class="b-main">
        <div class="b-filter">
            <div class="c-accordion">
                <div class="c-accordion_item" style="border-bottom: 0px">
                    <input type="checkbox" id="filter_3" aria-hidden="true" tabindex="-1" class="c-accordion_itemInput" checked style="display: none">
                    <label for="filter_3" class="c-accordion_itemLabel">
                        Szukaj
                    </label>
                    <div class="c-accordion_content is-sort">
                        <input type="text" [(ngModel)]="searchString" style="margin: 20px 0px; color: #000; padding: 5px 4px; width: 100%; font-size: 15px;" />
                    </div>
                </div>

            </div>
        </div>
        <button (click)="selectFilters($event)" class="a-btn is-primary">
            Szukaj
        </button>
    </div>
</div>