<div class="b-mainWrapper is-filter" style="background: rgba(0, 0, 0, 0.85)">
    <div class="b-main">
        <div class="b-filter">
            <div class="c-accordion">
                <div class="c-accordion_item" style="border-bottom: 0px">
                    <input type="checkbox" id="filter_3" aria-hidden="true" tabindex="-1" class="c-accordion_itemInput" checked>
                    <label for="filter_3" class="c-accordion_itemLabel">
                        Zmień widok
                    </label>
                    <div class="c-accordion_content is-sort">
                        <div class="c-accordion_contentWrapper">
                            <label for="filter_3_1"><input id="filter_3_1" type="radio" [(ngModel)]="selectedFilter" value="0" name="filter_3" [checked]="selectedFilter == '0'"> <span>Wszyscy</span></label>
                            <label for="filter_3_2"><input id="filter_3_2" type="radio" [(ngModel)]="selectedFilter" value="1" name="filter_3" [checked]="selectedFilter == '1'"> <span>ASM</span></label>
                            <label for="filter_3_3"><input id="filter_3_3" type="radio" [(ngModel)]="selectedFilter" value="2" name="filter_3" [checked]="selectedFilter == '2'"> <span>Linia</span></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button (click)="changeView($event)" class="a-btn is-primary">
            Zastosuj
        </button>
    </div>
</div>