<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-rank">
        <div class="b-main">
            <div class="b-user">
                <div class="b-user_pic">
                    <span class="is-count" *ngIf="!su">{{ userData.ranking }}</span>
                    <div class="b-user_mask">
                        <img src="http://api-ios.test001.pl/data/avatar/avatar.php?id={{ userData.visitor_id }}" alt="">
                    </div>
                </div>
                <p class="a-typo is-text">{{ userData.username }}</p>
                <p *ngIf="!su" class="a-typo is-primary" style="position: static">{{ userData.rankingPoints }} pkt.</p>
                <div *ngIf="!su && !asm">
                    <p *ngIf="siteData.limitPunktow > userData.points && userData.limitActive == 1" class="a-typo is-text is-dark">Do wymiany pkt na nagrody brakuje: <strong>{{ siteData.limitPunktow-userData.points }} pkt.</strong></p>
                    <p *ngIf="siteData.limitPunktow <= userData.points || userData.limitActive == 0" class="a-typo is-text is-dark">Do wykorzystania pozostało: <strong>{{ userData.points }} pkt.</strong></p>
                    <p (click)="goToNagrody()" *ngIf="siteData.limitPunktow <= userData.points || userData.limitActive == 0" class="a-btn is-primary">Wymień punkty</p>
                </div>
                <div *ngIf="asm">
                    <p class="a-typo is-text" style="font-size: 14px; font-weight: 400;">Ranking {{ asmLine }}: <strong>{{ userData.rankingLine }} miejsce</strong> Twojego zespołu</p>
                    <p class="a-typo is-text" style="font-size: 14px; font-weight: 400;">Ranking ogólny: <strong>{{ userData.ranking }} miejsce</strong> Twojego zespołu</p>
                </div>
            </div>
            <div class="b-ranking">
                <div class="b-ranking_headline" style="justify-content: center; padding-bottom: 0px">
                    <p class="a-typo is-secondary" style="font-size: 26px;">{{ rankingTitle }}</p>
                </div>
                <div class="b-ranking_headline" *ngIf="!su" style="justify-content: center">
                    <button class="a-btn is-primary" (click)="filtruj()" style="margin-right: 5px;">Filtruj/Sortuj</button>
                    <button class="a-btn is-primary" (click)="szukaj()" style="margin-lefT: 5px">Szukaj</button>
                </div>
                <div class="b-ranking_headline" *ngIf="su" style="justify-content: center">
                    <button class="a-btn is-primary" (click)="changeView();" style="margin-right: 5px;">Zmień widok</button>
                    <button class="a-btn is-primary" (click)="filtruj()" *ngIf="selectedFilter == '0'">Filtruj/Sortuj</button>
                    <button class="a-btn is-primary" (click)="szukaj()" style="margin-lefT: 5px">Szukaj</button>
                </div>
                <div class="b-ranking_filters" *ngIf="selectedFilter == '0'">
                    <a (click)="clearFilter('asm');" class="is-label" *ngIf="selectedAsm != ''"><span>×</span> ASM: {{selectedAsmInfo.visitor_lastname}}</a>
                    <a (click)="clearFilter('linia');" class="is-label" *ngIf="selectedLine != ''"><span>×</span> Linia: {{selectedLine}}</a>
                    <a (click)="clearFilter('sort');" class="is-label" *ngIf="selectedSort > 0"><span>×</span> {{ selectedSort == 1 ? 'Pozycja malejąco' : selectedSort == 2 ? 'Nazwa malejąco': 'Nazwa rosnąco' }}</a>
                    <a (click)="clearFilter('search');" class="is-label" *ngIf="searchString != ''"><span>×</span> {{ searchString }}</a>
                </div>
                <div class="b-ranking_filters" *ngIf="selectedFilter != '0'">
                    <a (click)="clearView();" class="is-label" *ngIf="selectedFilter == 1"><span>×</span> Widok: ASM</a>
                    <a (click)="clearView();" class="is-label" *ngIf="selectedFilter == 2"><span>×</span> Widok: Linia</a>
                </div>
                <div class="b-ranking_list">
                    <ul>
                        <li *ngIf='rankingToView?.length === 0' class="b-ranking_listItem" style="text-align: center;">

                            <div class="b-ranking_data" style="width: 100%;">
                                <p class="a-typo is-text" >Brak wyników wyszukiwania.</p>
                                <p></p>
                            </div>
                        </li>
                        <li [ngClass]="'' + item.mm_user_number == userData.visitor_number || (selectedAsm == '' && asm && userData.visitor_number == item.mm_asm_number) ? ' is-active' : ''" class="b-ranking_listItem" *ngFor="let item of rankingToView">
                            <div class="b-ranking_img">
                                <div>
                                    <span class="is-buble">{{ item.mm_position }} </span>
                                    <span *ngIf="item.mm_position > item.mm_last_position" class="is-buble is-down">{{ item.mm_position-item.mm_last_position }} &#8595;</span>
                                    <span *ngIf="item.mm_position < item.mm_last_position" class="is-buble is-up">{{ item.mm_last_position-item.mm_position }} &#8593;</span>
                                    <span *ngIf="item.mm_position == item.mm_last_position" class="is-buble is-up">{{ item.mm_last_position-item.mm_position }} &#8597;</span>
                                </div>
                                <img src="http://api-ios.test001.pl/data/avatar/avatar.php?id={{ item.visitor_id }}" alt="" *ngIf="selectedFilter != 2">
                                <label class="rankingLiniaAvatar"><span class="rankingLiniaAvatar" *ngIf="selectedFilter == 2">{{ item.mm_line }}</span></label>
                            </div>
                            <div class="b-ranking_data" *ngIf="selectedFilter != '2'">
                                <p class="a-typo is-text" *ngIf="selectedFilter == '0'">{{ item.visitor_firstname }} {{ item.visitor_lastname }}</p>
                                <p class="a-typo is-text" *ngIf="selectedFilter == '1'">ASM: {{ item.visitor_firstname }} {{ item.visitor_lastname }}</p>
                                <div class="a-typo is-text" *ngIf="selectedFilter == '0'">
                                    <div style="min-width: 125px;">ASM: <span style="margin-left: 4px; text-transform: none">{{ item.asm_lastname }}</span></div>
                                    <div>PKT:<span style="margin-left: 4px;">{{ item.mm_points < 1 ? 0 : item.mm_points }}</span></div>
                                    <div><span>{{ item.mm_user_line }}</span></div>
                                </div>
                                <div class="a-typo is-text" *ngIf="selectedFilter == '1'">
                                    <div>PKT:<span style="margin-left: 4px;">{{ item.mm_points < 1 ? 0 : item.mm_points }}</span></div>
                                    <div><span>{{ item.mm_user_line }}</span></div>
                                </div>
                            </div>
                            <div class="b-ranking_data" *ngIf="selectedFilter == '2'">
                                <p class="a-typo is-text">{{ item.mm_line }}</p>
                                <div class="a-typo is-text">
                                    <div>PKT: <span style="margin-left: 4px;">{{ item.mm_points < 1 ? 0 : item.mm_points }}</span></div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</ion-content>