<div class="b-mainWrapper is-filter" style="background: rgba(0, 0, 0, 0.85)">
    <div class="b-main">
        <div class="b-filter">
            <div class="c-accordion">
                <div class="c-accordion_item">
                    <input type="checkbox" id="filter_1" aria-hidden="true" tabindex="-1" class="c-accordion_itemInput" checked>
                    <label for="filter_1" class="c-accordion_itemLabel">
                        ASM
                    </label>
                    <div class="c-accordion_content">
                        <div class="c-accordion_contentWrapper">
                            <label *ngFor="let option of asmList; let k= index;" [for]="'filter_1_' + k"><input [checked]="selectedAsm === option.visitor_number" [(ngModel)]="selectedAsm" [id]="'filter_1_' + k" type="radio" value="{{option.visitor_number}}" name="filter_1"> <span>{{ option.visitor_firstname }} {{ option.visitor_lastname }}</span></label>
                        </div>
                    </div>
                </div>
                <div class="c-accordion_item">
                    <input type="checkbox" id="filter_2" aria-hidden="true" tabindex="-1" class="c-accordion_itemInput" checked>
                    <label for="filter_2" class="c-accordion_itemLabel">
                        Linia
                    </label>
                    <div class="c-accordion_content is-horizontal">
                        <div class="c-accordion_contentWrapper">
                            <label *ngFor="let line of lineList; let k= index;" [for]="'filter_2_' + k"><input [checked]="selectedLine === line" [(ngModel)]="selectedLine" [id]="'filter_2_' + k" type="radio" value="{{ line }}" name="filter_2"> <span>{{ line }}</span></label>
                        </div>
                    </div>
                </div>
                <div class="c-accordion_item" style="border-bottom: 0px">
                    <input type="checkbox" id="filter_3" aria-hidden="true" tabindex="-1" class="c-accordion_itemInput" checked>
                    <label for="filter_3" class="c-accordion_itemLabel">
                        Sortuj
                    </label>
                    <div class="c-accordion_content is-sort">
                        <div class="c-accordion_contentWrapper">
                            <label for="filter_3_1"><input id="filter_3_1" type="radio" [(ngModel)]="selectedSort" value="0" name="filter_3" [checked]="selectedSort == '0'"> <span>Pozycja rosnąco</span></label>
                            <label for="filter_3_2"><input id="filter_3_2" type="radio" [(ngModel)]="selectedSort" value="1" name="filter_3" [checked]="selectedSort == '1'"> <span>Pozycja malejąco</span></label>
                            <label for="filter_3_3"><input id="filter_3_3" type="radio" [(ngModel)]="selectedSort" value="3" name="filter_3" [checked]="selectedSort == '3'"> <span>Nazwa rosnąco</span></label>
                            <label for="filter_3_4"><input id="filter_3_4" type="radio" [(ngModel)]="selectedSort" value="2" name="filter_3" [checked]="selectedSort == '2'"> <span>Nazwa malejąco</span></label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <button (click)="selectFilters($event)" class="a-btn is-primary">
            Zastosuj
        </button>
    </div>
</div>