// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-arrow01-name: 'icon-arrow01';
$icon-arrow01-x: 98px;
$icon-arrow01-y: 48px;
$icon-arrow01-offset-x: -98px;
$icon-arrow01-offset-y: -48px;
$icon-arrow01-width: 13px;
$icon-arrow01-height: 9px;
$icon-arrow01-total-width: 112px;
$icon-arrow01-total-height: 93px;
$icon-arrow01-image: '../images/sprite.png?1512161553226';
$icon-arrow01: (98px, 48px, -98px, -48px, 13px, 9px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-arrow01', );
$icon-arrow02-name: 'icon-arrow02';
$icon-arrow02-x: 0px;
$icon-arrow02-y: 84px;
$icon-arrow02-offset-x: 0px;
$icon-arrow02-offset-y: -84px;
$icon-arrow02-width: 13px;
$icon-arrow02-height: 9px;
$icon-arrow02-total-width: 112px;
$icon-arrow02-total-height: 93px;
$icon-arrow02-image: '../images/sprite.png?1512161553226';
$icon-arrow02: (0px, 84px, 0px, -84px, 13px, 9px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-arrow02', );
$icon-clock01-name: 'icon-clock01';
$icon-clock01-x: 98px;
$icon-clock01-y: 0px;
$icon-clock01-offset-x: -98px;
$icon-clock01-offset-y: 0px;
$icon-clock01-width: 14px;
$icon-clock01-height: 14px;
$icon-clock01-total-width: 112px;
$icon-clock01-total-height: 93px;
$icon-clock01-image: '../images/sprite.png?1512161553226';
$icon-clock01: (98px, 0px, -98px, 0px, 14px, 14px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-clock01', );
$icon-clock02-name: 'icon-clock02';
$icon-clock02-x: 98px;
$icon-clock02-y: 24px;
$icon-clock02-offset-x: -98px;
$icon-clock02-offset-y: -24px;
$icon-clock02-width: 14px;
$icon-clock02-height: 14px;
$icon-clock02-total-width: 112px;
$icon-clock02-total-height: 93px;
$icon-clock02-image: '../images/sprite.png?1512161553226';
$icon-clock02: (98px, 24px, -98px, -24px, 14px, 14px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-clock02', );
$icon-close01-name: 'icon-close01';
$icon-close01-x: 0px;
$icon-close01-y: 0px;
$icon-close01-offset-x: 0px;
$icon-close01-offset-y: 0px;
$icon-close01-width: 39px;
$icon-close01-height: 40px;
$icon-close01-total-width: 112px;
$icon-close01-total-height: 93px;
$icon-close01-image: '../images/sprite.png?1512161553226';
$icon-close01: (0px, 0px, 0px, 0px, 39px, 40px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-close01', );
$icon-edit01-name: 'icon-edit01';
$icon-edit01-x: 0px;
$icon-edit01-y: 50px;
$icon-edit01-offset-x: 0px;
$icon-edit01-offset-y: -50px;
$icon-edit01-width: 23px;
$icon-edit01-height: 24px;
$icon-edit01-total-width: 112px;
$icon-edit01-total-height: 93px;
$icon-edit01-image: '../images/sprite.png?1512161553226';
$icon-edit01: (0px, 50px, 0px, -50px, 23px, 24px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-edit01', );
$icon-more01-name: 'icon-more01';
$icon-more01-x: 49px;
$icon-more01-y: 0px;
$icon-more01-offset-x: -49px;
$icon-more01-offset-y: 0px;
$icon-more01-width: 39px;
$icon-more01-height: 40px;
$icon-more01-total-width: 112px;
$icon-more01-total-height: 93px;
$icon-more01-image: '../images/sprite.png?1512161553226';
$icon-more01: (49px, 0px, -49px, 0px, 39px, 40px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-more01', );
$icon-phone01-name: 'icon-phone01';
$icon-phone01-x: 33px;
$icon-phone01-y: 50px;
$icon-phone01-offset-x: -33px;
$icon-phone01-offset-y: -50px;
$icon-phone01-width: 22px;
$icon-phone01-height: 23px;
$icon-phone01-total-width: 112px;
$icon-phone01-total-height: 93px;
$icon-phone01-image: '../images/sprite.png?1512161553226';
$icon-phone01: (33px, 50px, -33px, -50px, 22px, 23px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-phone01', );
$icon-tick01-name: 'icon-tick01';
$icon-tick01-x: 65px;
$icon-tick01-y: 50px;
$icon-tick01-offset-x: -65px;
$icon-tick01-offset-y: -50px;
$icon-tick01-width: 16px;
$icon-tick01-height: 14px;
$icon-tick01-total-width: 112px;
$icon-tick01-total-height: 93px;
$icon-tick01-image: '../images/sprite.png?1512161553226';
$icon-tick01: (65px, 50px, -65px, -50px, 16px, 14px, 112px, 93px, '../images/sprite.png?1512161553226', 'icon-tick01', );
$icon-arrow01-2x-name: 'icon-arrow01@2x';
$icon-arrow01-2x-x: 196px;
$icon-arrow01-2x-y: 96px;
$icon-arrow01-2x-offset-x: -196px;
$icon-arrow01-2x-offset-y: -96px;
$icon-arrow01-2x-width: 26px;
$icon-arrow01-2x-height: 18px;
$icon-arrow01-2x-total-width: 224px;
$icon-arrow01-2x-total-height: 186px;
$icon-arrow01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-arrow01-2x: (196px, 96px, -196px, -96px, 26px, 18px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-arrow01@2x', );
$icon-arrow02-2x-name: 'icon-arrow02@2x';
$icon-arrow02-2x-x: 0px;
$icon-arrow02-2x-y: 168px;
$icon-arrow02-2x-offset-x: 0px;
$icon-arrow02-2x-offset-y: -168px;
$icon-arrow02-2x-width: 26px;
$icon-arrow02-2x-height: 18px;
$icon-arrow02-2x-total-width: 224px;
$icon-arrow02-2x-total-height: 186px;
$icon-arrow02-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-arrow02-2x: (0px, 168px, 0px, -168px, 26px, 18px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-arrow02@2x', );
$icon-clock01-2x-name: 'icon-clock01@2x';
$icon-clock01-2x-x: 196px;
$icon-clock01-2x-y: 0px;
$icon-clock01-2x-offset-x: -196px;
$icon-clock01-2x-offset-y: 0px;
$icon-clock01-2x-width: 28px;
$icon-clock01-2x-height: 28px;
$icon-clock01-2x-total-width: 224px;
$icon-clock01-2x-total-height: 186px;
$icon-clock01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-clock01-2x: (196px, 0px, -196px, 0px, 28px, 28px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-clock01@2x', );
$icon-clock02-2x-name: 'icon-clock02@2x';
$icon-clock02-2x-x: 196px;
$icon-clock02-2x-y: 48px;
$icon-clock02-2x-offset-x: -196px;
$icon-clock02-2x-offset-y: -48px;
$icon-clock02-2x-width: 28px;
$icon-clock02-2x-height: 28px;
$icon-clock02-2x-total-width: 224px;
$icon-clock02-2x-total-height: 186px;
$icon-clock02-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-clock02-2x: (196px, 48px, -196px, -48px, 28px, 28px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-clock02@2x', );
$icon-close01-2x-name: 'icon-close01@2x';
$icon-close01-2x-x: 0px;
$icon-close01-2x-y: 0px;
$icon-close01-2x-offset-x: 0px;
$icon-close01-2x-offset-y: 0px;
$icon-close01-2x-width: 78px;
$icon-close01-2x-height: 80px;
$icon-close01-2x-total-width: 224px;
$icon-close01-2x-total-height: 186px;
$icon-close01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-close01-2x: (0px, 0px, 0px, 0px, 78px, 80px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-close01@2x', );
$icon-edit01-2x-name: 'icon-edit01@2x';
$icon-edit01-2x-x: 0px;
$icon-edit01-2x-y: 100px;
$icon-edit01-2x-offset-x: 0px;
$icon-edit01-2x-offset-y: -100px;
$icon-edit01-2x-width: 46px;
$icon-edit01-2x-height: 48px;
$icon-edit01-2x-total-width: 224px;
$icon-edit01-2x-total-height: 186px;
$icon-edit01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-edit01-2x: (0px, 100px, 0px, -100px, 46px, 48px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-edit01@2x', );
$icon-more01-2x-name: 'icon-more01@2x';
$icon-more01-2x-x: 98px;
$icon-more01-2x-y: 0px;
$icon-more01-2x-offset-x: -98px;
$icon-more01-2x-offset-y: 0px;
$icon-more01-2x-width: 78px;
$icon-more01-2x-height: 80px;
$icon-more01-2x-total-width: 224px;
$icon-more01-2x-total-height: 186px;
$icon-more01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-more01-2x: (98px, 0px, -98px, 0px, 78px, 80px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-more01@2x', );
$icon-phone01-2x-name: 'icon-phone01@2x';
$icon-phone01-2x-x: 66px;
$icon-phone01-2x-y: 100px;
$icon-phone01-2x-offset-x: -66px;
$icon-phone01-2x-offset-y: -100px;
$icon-phone01-2x-width: 44px;
$icon-phone01-2x-height: 46px;
$icon-phone01-2x-total-width: 224px;
$icon-phone01-2x-total-height: 186px;
$icon-phone01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-phone01-2x: (66px, 100px, -66px, -100px, 44px, 46px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-phone01@2x', );
$icon-tick01-2x-name: 'icon-tick01@2x';
$icon-tick01-2x-x: 130px;
$icon-tick01-2x-y: 100px;
$icon-tick01-2x-offset-x: -130px;
$icon-tick01-2x-offset-y: -100px;
$icon-tick01-2x-width: 32px;
$icon-tick01-2x-height: 28px;
$icon-tick01-2x-total-width: 224px;
$icon-tick01-2x-total-height: 186px;
$icon-tick01-2x-image: '../images/sprite-2x.png?1512161553226';
$icon-tick01-2x: (130px, 100px, -130px, -100px, 32px, 28px, 224px, 186px, '../images/sprite-2x.png?1512161553226', 'icon-tick01@2x', );
$spritesheet-width: 112px;
$spritesheet-height: 93px;
$spritesheet-image: '../images/sprite.png?1512161553226';
$spritesheet-sprites: ($icon-arrow01, $icon-arrow02, $icon-clock01, $icon-clock02, $icon-close01, $icon-edit01, $icon-more01, $icon-phone01, $icon-tick01, );
$spritesheet: (112px, 93px, '../images/sprite.png?1512161553226', $spritesheet-sprites, );
$retina-spritesheet-width: 224px;
$retina-spritesheet-height: 186px;
$retina-spritesheet-image: '../images/sprite-2x.png?1512161553226';
$retina-spritesheet-sprites: ($icon-arrow01-2x, $icon-arrow02-2x, $icon-clock01-2x, $icon-clock02-2x, $icon-close01-2x, $icon-edit01-2x, $icon-more01-2x, $icon-phone01-2x, $icon-tick01-2x, );
$retina-spritesheet: (224px, 186px, '../images/sprite-2x.png?1512161553226', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-arrow01-group-name: 'icon-arrow01';
$icon-arrow01-group: ('icon-arrow01', $icon-arrow01, $icon-arrow01-2x, );
$icon-arrow02-group-name: 'icon-arrow02';
$icon-arrow02-group: ('icon-arrow02', $icon-arrow02, $icon-arrow02-2x, );
$icon-clock01-group-name: 'icon-clock01';
$icon-clock01-group: ('icon-clock01', $icon-clock01, $icon-clock01-2x, );
$icon-clock02-group-name: 'icon-clock02';
$icon-clock02-group: ('icon-clock02', $icon-clock02, $icon-clock02-2x, );
$icon-close01-group-name: 'icon-close01';
$icon-close01-group: ('icon-close01', $icon-close01, $icon-close01-2x, );
$icon-edit01-group-name: 'icon-edit01';
$icon-edit01-group: ('icon-edit01', $icon-edit01, $icon-edit01-2x, );
$icon-more01-group-name: 'icon-more01';
$icon-more01-group: ('icon-more01', $icon-more01, $icon-more01-2x, );
$icon-phone01-group-name: 'icon-phone01';
$icon-phone01-group: ('icon-phone01', $icon-phone01, $icon-phone01-2x, );
$icon-tick01-group-name: 'icon-tick01';
$icon-tick01-group: ('icon-tick01', $icon-tick01, $icon-tick01-2x, );
$retina-groups: ($icon-arrow01-group, $icon-arrow02-group, $icon-clock01-group, $icon-clock02-group, $icon-close01-group, $icon-edit01-group, $icon-more01-group, $icon-phone01-group, $icon-tick01-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
