<input type="checkbox" id="menu" class="is-hidden" aria-hidden="true" tabindex="-1" [ngModel]="filter" (ngModelChange)="onFilterChange($event)">
<label for="menu" class="is-closeLayer"></label>
<header class="b-header" *ngIf="!footerIsHidden">
	<button *ngIf="!mmModule" class="is-backBtn" style="top: 30px" (click)="goToNav('tabWelcome')"><i class="icon-arrow02"></i></button>
    <a *ngIf="mmModule" class="is-backBtn" style="top: 30px" (click)="goToNav('tabMm')"><i class="icon-arrow02"></i> Myles & More</a>
    <label for="menu" style="top: 30px;"><i class="icon-menu01"></i></label>
</header>
<div class="b-asideNav">
	<nav class="b-menu">
		<h1 class="a-typo is-logo">Mylan<br>Navigator</h1>
		<ul>
      <li *ngIf="siteData.digitalBadgeVisible == 1">
        <a (click)="goToNav('tabDigitalBadge')">Identyfikator</a>
      </li>
			<li>
				<a (click)="goToNav('tabAgenda')">Agenda</a>
			</li>
			<li *ngIf="!siteData.ankietyActive">
				<a (click)="goToNav('tabTest')">{{siteData.ankietyName}}</a>
			</li>
			<li *ngIf="siteData.ankietyActive">
				<a (click)="goToNav('tabAnkieta')">Ankiety</a>
			</li>
			<li>
				<a (click)="goToNav('tabScore')">Cele</a>
			</li>
			<li>
				<a (click)="goToNav('tabNews')">Aktualności</a>
			</li>
			<li>
				<a (click)="goToNav('tabKto')">Kto to jest?</a>
			</li>
			<li *ngIf="mmModuleMenu">
				<a (click)="goToNav('tabMm')">Myles & More</a>
			</li>
			<li>
				<a (click)="logout()">Wyloguj</a>
			</li>
		</ul>
	</nav>
</div>
<ion-nav #mycontent [root]="rootPage" no-bounce></ion-nav>

