// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$cl-primary: #3567b2;
$cl-yellow: #f7dd32;
$cl-blue00: #00BBE6;;
$cl-grey4: #444;
$cl-grey82: #828282;
$cl-white: #fff;
$cl-blue1A: #1a6ab0;
$cl-blueB0: #b0c9e2;
$cl-grey3: #333333;
$cl-greyEA: #eaeaea;
$cl-greyF1: #f1f1f1;
$cl-grey4F: #4A4A4A;
$cl-grey3E: #3e3e3e;
$cl-greyB0: #b0b0b0;
$cl-red: #c32727;
$cl-black: #000000;

$font-primary: 'Helvetica Neue', 'HelveticaNeueLTProCn', Arial, sans-serif;
$font-secondary: 'Helvetica Neue', 'HelveticaNeueLTProHvCn', Arial, sans-serif;
$font-tertiary: 'Helvetica Neue', 'HelveticaNeueCondensedBold', Arial, sans-serif;

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

ion-scroll.scroll-y .scroll-content::--webkit-scrollbar {
	display: none;
}

ion-scroll.scroll-x .scroll-content::--webkit-scrollbar {
	display: none;
}

.linknew {
	font-family: "GoogleSans",Arial,sans-serif;
	font-size: 16px;
}