.a-typo {
    &.is-text {
        font-size: 18px;
        line-height: 28px;
        &.is-dark {
            font-size: 12px;
            color: #053C5D;
        }
    }
    &.is-primary {
        font-size: 40px;
        line-height: 50px;
        color: $cl-white;
    }
    &.is-secondary {
        font-size: 30px;
        line-height: 40px;
        color: $cl-white;
    }
    &.is-logo {
        font: bold 10vw/11vw $font-primary;
        text-align: center;
    }
}