.c-accordion {
    color: $cl-white;
    &_item {
        padding: 0 15px;
    }
    &_itemLabel {
        position: relative;
        display: block;
        padding: 15px 0;
        font-size: 20px;
        font-weight: bold;
    }
    &_itemInput {
        display: none;
        &:checked + .c-accordion_itemLabel {
            &::after {
                @include retina-sprite($icon-arrowback01-group);
                position: absolute;
                top: 50%;
                right: 0;
                z-index: 2;
                display: block;
                content: '';
                transform: translateY(-50%);
            }
        }
        &:checked ~ .c-accordion_content {
            position: relative;
            display: block;
            &::after {
                position: absolute;
                right: -15px;
                bottom: 0;
                left: -15px;
                display: block;
                border-bottom: 1px solid rgba(255,255,255, .3);
                content: '';
            }
        }
    }
    &_content {
        display: none;
    }
}