.a-btn {
    &.is-primary {
        display: inline-block;
        height: 40px;
        padding: 0 20px;
        font-size: 14px;
        font-weight: bold;
        line-height: 40px;
        color: $cl-white;
        background: #333;
        border-radius: 30px;
        border: 0;
        box-sizing: border-box;
    }
    i {
        margin-right: 5px;
    }
}
.is-backBtn {
    background: none;
    border: 0;
}