.c-form {
    color: $cl-white;
    text-align: center;
    .c-form_label {
        display: inline-block;
        margin-bottom: 15px;
        font-size: 18px;
        font-weight: bold;
        color: $cl-white;
        @include breakpoint(360px) {
            font-size: 20px;
        }
    }
    .c-form_input {
        margin-bottom: 20px;
        input {
            height: 52px;
            min-width: 280px;
            padding: 0 15px;
            background-color: $cl-white;
            color: $cl-grey3;
            border-radius: 30px;
            border: 1px solid $cl-white;
            box-sizing: border-box;
        }
    }
    .c-form_btn {
        min-width: 140px;
        min-height: 45px;
        line-height: 45px;
        color: $cl-white;
        background: $cl-grey3;
        border-radius: 30px;
        border: 1px solid $cl-grey3;
    }
}