<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="PureScanner" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Wystawcy" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Kontakt" tabIcon="contacts"></ion-tab>
</ion-tabs>
