<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
  <div class="b-mainWrapper is-rank" [ngStyle]="{'background' : 'rgb(32, 0, 63)'}">
    <div class="b-main">
      <div class="b-user">
        <div class="b-user_pic" style="margin-bottom: 10px;">
          <div class="b-user_mask">
            <img src="http://api-ios.test001.pl/data/avatar/avatar.php?id={{ userData.visitor_id }}" alt="">
          </div>
        </div>
        <p class="a-typo is-text" style="font-size: 27px;">{{ userData.username }}</p>
        <p class="a-typo is-primary" style="font-size: 18px; font-weight: normal; line-height: 30px; height: 36px;">({{ userData.visitor_number }})</p>
      </div>
      <div class="b-user" style="padding-top: 10px; padding-bottom: 0px; margin-bottom: 5px; border-bottom: 0px;">
        <p class="a-typo is-text" [innerHTML]="siteData.digitalBadgeText | safeHtml" style="font-size: 20px;">{{ siteData.digitalBadgeText }}</p>
      </div>
      <div class="b-user" style="border-bottom: 0px; padding-bottom: 0px; margin-bottom: 0px; padding-top: 0px; bottom: 0; bottom: calc(0px - constant(safe-area-inset-top)); position: absolute;  max-width: 400px; width: 100%; left: 50%; transform: translateX(-50%);">
        <img src="{{siteData.digitalBadgeLogo}}" />
      </div>
    </div>
  </div>
</ion-content>
