<ion-content no-bounce scrollbar-y="false">
    <div class="b-mainWrapper is-polling is-success">
        <div class="b-main">
            <div class="b-polling">
                <img src="common/images/pollingSuccess.png" alt="">
                <p class="a-typo is-secondary">Dziękujęmy<br>za Twój głos!</p>
                <a (click)="back()" class="a-btn is-primary">Powrót</a>
            </div>
        </div>
    </div>
</ion-content>