page-ankieta {
  font-family: "GoogleSans",Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;

  .b-polling .c-form .c-form_row label {
    padding-top: 6px;
  }

  .c-form_row {
    margin-top: 37px;
    margin-bottom: 15px !important;
  }
}
