<ion-content no-bounce scrollbar-y="false" scrollY="false" scrollX="false">
    <div class="b-mainWrapper is-polling">
        <div class="b-main">
            <div class="b-polling" style="padding-top: 65px;">
                <img src="common/images/polling.png" alt="">
                <button (click)="odswiez()" class="a-btn is-primary" style="margin-right: 10px; float: right">Odśwież</button><div style="clear: both"></div>
                <form action="" class="c-form" *ngIf="ankiety.owner_active == 1">
                    <div class="c-form_row" *ngFor="let item of ankiety.owner;">
                        <p class="a-typo is-secondary" style="font-size: 15px; line-height: 19px;">{{ item.agenda_title }}<br />Pytanie: <span style="font-weight: normal;">{{ item.question[0].question_title }}</span></p>
                        <div *ngIf="item.polling_active == 0">
                            <button (tap)="start(item.polling_id)" class="a-btn is-primary">
                                Uruchom
                            </button>
                        </div>
                        <div *ngIf="item.polling_active == 1">
                            <button (tap)="stop(item.polling_id)" class="a-btn is-primary">
                                Zakończ
                            </button>
                        </div>
                        <div *ngIf="item.polling_active == 2">
                            <button (tap)="results(item.polling_id)" class="a-btn is-primary">
                                Wyniki
                            </button>
                        </div>
                        <div class="c-form_row polling_result c-accordion_content" style="display: none; margin-top: 18px;"
                             id="results_{{item.polling_id}}" *ngIf="item.polling_active == 2">
                            <p>Suma głosów: <strong>{{ item.glosow }}</strong></p>
                            <span *ngFor="let item_answer of item.answer;">
                                <label style="padding-left: 2px; font-size: 15px; font-weight: normal; margin-bottom: 0;">{{ item_answer.answer_title }} - {{ item_answer.glosow }}% ({{ item_answer.glosow_int }})</label>
                            </span>
                        </div>
                    </div>
                </form>
                <form action="" class="c-form" *ngIf="ankiety.owner_active == 0">
                    <div class="c-form_row" *ngIf="!ankiety.active">
                        <p class="a-typo is-secondary">W tej chwili nie masz żadnego pytania</p>
                    </div>
                    <div class="c-form_row" *ngFor="let item of ankiety.active; let k = index">
                        <p class="a-typo is-secondary">{{ item.question[0].question_title }}</p>
                        <span *ngFor="let item_answer of item.answer; let i = index">
                            <input type="radio" [(ngModel)]="pollAnswer.answers[k]" [id]="'question_' + (i+1)" name="question1" [ngModelOptions]="{standalone: true}" value="{{item_answer.polling_answer_id}}">
                            <label [for]="'question_' + (i+1)"><span class="is-customRadio"></span>{{ item_answer.answer_title }}</label>
                        </span>
                    </div>
                    <button *ngIf="ankiety.active" (click)="vote()" class="a-btn is-primary" style="margin-bottom: 40px">Wyślij</button>
                </form>
            </div>
        </div>
    </div>

</ion-content>